<div class="contest">
  <div class="cgCh">
    <a ng-href="/challenge-details/{{challenge.challengeId}}/?type={{challenge.challengeCommunity}}" class="contestName">
      <img alt="" class="allContestIco" ng-src="{{images}}/ico-track-develop.png">
      <span class="gridChallengName">{{challenge.challengeName}}</span>
      <img alt="" class="allContestTCOIco" ng-src="{{images}}/tco-flag-develop.png">
    </a>
  </div>
  <div class="cgTime">
    <div>
      <div class="row">
        <label class="lbl">Start Date</label>
        <div class="val vStartDate">{{challenge.registrationStartDate | date: dateFormat}}</div>
      </div>
      <div class="row" ng-show="challenge.checkpointSubmissionEndDate">
        <label class="lbl">Round 1 End</label>
        <div class="val vEndRound">{{challenge.checkpointSubmissionEndDate | date: dateFormat}}</div>
      </div>
      <div class="row">
        <label class="lbl">End Date</label>
        <div class="val vEndDate">{{challenge.submissionEndDate | date: dateFormat}}</div>
      </div>
      <div class="row">
        <label class="lbl">Current Status</label>
        <div class="val vStatus">{{challenge.status}}</div>
      </div>
      <div class="row">
        <label class="lbl">Technologies</label>
          <div id="{{challenge.challengeId}}" class="technologyTags">
              <ul>
                <li ng-repeat="item in challenge.technologies"><span class="techTag"><a href="" ng-click="findByTechnology(item)">{{item}}</a></span></li>
                <li ng-repeat="item in challenge.platforms"><span class="techTag"><a href="" ng-click="findByPlatform(item)">{{item}}</a></span></li>
              </ul>
              <div class="clear"></div>
          </div>
      </div>
    </div>
  </div>
  <div class="genInfo gdUpcoming">
    <p class="cgTLeft" data-hasqtip="0" aria-describedby="qtip-0"><i></i>{{getContestDuration(challenge.registrationStartDate, challenge.submissionEndDate)}}</p>
    <p class="cgPur" data-hasqtip="1" aria-describedby="qtip-1"><i></i> {{challenge.totalPrize | currency}}</p>
  </div>
  <i class="ico trackType"> <span class="tooltipData"><span class="tipT">Contest Type</span><span class="tipC">{{challenge.challengeType}}</span></span></i>
</div>