<script>
  (function(d) {
    var config = {
      kitId: 'gig7sjk',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>

<script src="//use.typekit.net/jjo6pal.js"></script>

<script>
  try {
    Typekit.load({ async: true });
  } catch(e){}
</script>
<style type="text/css">
  .ng-header-bootstrap {
    height: 60px;
  }

  #tc-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 6;
  }
</style>

<div id="tc-navbar"></div>
<script type="text/javascript">
  var xhrHeaderNavSuggestion = null;
  function suggest(searchTerm) {
    if (xhrHeaderNavSuggestion) {
      xhrHeaderNavSuggestion.abort();
    }
    return new Promise(
      // The resolver function is called with the ability to resolve or
      // reject the promise
      function(resolve, reject) {
        xhrHeaderNavSuggestion = $.ajax({
          type: "GET",
          url: 'https://internal-api.' + 'topcoder-dev.com' + '/v3/tags/_suggest/?q=' + searchTerm,
          dataType: 'json',
          success: function(data) {
            var tags = [];
            if (data.result && data.result.content) {
              tags = data.result.content;
              tags = tags.map(tag => {
                return tag.text
              });
            }
            resolve(tags);
          }
        }).fail(function(error) {
          console.log(error);
          reject(error);
        });
      }
    );
  }

  function search(searchTerm) {
    window.location = 'https://www.' + tcconfig.domain + '/search/members/?q=' + searchTerm
  }

  var navbar = React.createFactory(TCNavComponents.NavBar.default);
  var props = {
    domain                : tcconfig.domain,
    searchSuggestionsFunc : suggest,
    onSearch              : search
  };

  var navbarComp = null;
  if (app.isLoggedIn()) {
    app.getHandle(function(handle) {
      props.username = handle;
      $.getJSON(tcconfig.api3URL + '/members/' + handle, {}, function(data) {
        var photoLink = '';
        if (data.result && data.result.content) {
          photoLink = data.result.content.photoURL;
        } else {
          photoLink = tcconfig.communityURL + '/i/m/nophoto_login.gif';
        }
        props.userImage = photoLink;
      })
      .done(function() {
        // re-render the navbar with logged in state information
        navbarComp = ReactDOM.render(navbar(props), document.getElementById('tc-navbar'));
      });
    });
  }
  // render the navbar without logged state information
  navbarComp = ReactDOM.render(navbar(props), document.getElementById('tc-navbar'));
</script>



