<script>
  (function(d) {
    var config = {
      kitId: 'gig7sjk',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>

<script src="//use.typekit.net/jjo6pal.js"></script>

<script>
  try {
    Typekit.load({ async: true });
  } catch(e){}
</script>
<style type="text/css">
  .ng-header-bootstrap {
    height: 60px;
  }

  #tc-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 6;
  }
</style>

<div id="tc-navbar"></div>
<script type="text/javascript">
  function suggest(searchTerm) {
    $.ajax({
      type: "GET",
      url: 'https://internal-api.' + tcconfig.domain + '/v3/tags/_suggest/?q=' + searchTerm,
      dataType: 'json',
      // headers: {
      //   'Authorization': 'Bearer ' + tcjwt
      // },
      success: function(data) {
        console.log(data)
        // const tags = _.get(data, 'result.content')
        // return tags.map(tag => {
        //   return tag.text
        // })
      }
    }).fail(function() {
    });
    
      
  }
  var navbar = React.createFactory(TCNavComponents.NavBar.default);
  var props = {
    domain                : tcconfig.domain,
    searchSuggestionsFunc : suggest
  };

  if (app.isLoggedIn()) {
    app.getHandle(function(handle) {
      props.username = handle;
      $.getJSON(tcconfig.apiURL + '/users/' + handle, {}, function(data) {
        var photoLink = data['photoLink'];
        if (photoLink) {
          if (photoLink.indexOf('//') == -1) {
            photoLink = tcconfig.communityURL + data['photoLink']
          }
        } else {
          photoLink = tcconfig.communityURL + '/i/m/nophoto_login.gif';
        }
        props.userImage = photoLink;
      });
    });
  }
  var comp = ReactDOM.render(navbar(props), document.getElementById('tc-navbar'));
</script>



