<section class="uploadSuccess">
    <h3>Submission succesfully uploaded</h3>
    <p>Your submission has been uploaded</p>
    <p>Your submission will be screened after the Submission Phase has ended. You will receive an email with a link to your scorecard results. Be sure to view your scorecard even if you've passed screening because it may contain very important comments or instructions. Learn more about screening here: http://community.topcoder.com/studio/the-process/screening/ </p>
    <p>Thank you</p>
</section>
<!-- /#end success content-->
<section class="viewSubmission">
    <h2>VIEW SUBMISSIONS</h2>
    <p>Up to 5 submissions will count for this challenge. They will be indicated by this icon <span class="subId"></span> Selection . </p>
    <p>Those submissions that do not have the icon will NOT count and they will neither be screened nor reviewed. </p>
    <p>If you make more than 5 submissions for this challenge, you can rearrange the order of your submissions until the end of the Submission Phase. </p>
    <p>Note that checkpoint submissions can't be rearranged after checkpoint deadline. </p>
    <p>All submissions that are not eligible (anything over the submission limit) remaining after the submission phase has ended will be deleted by the system.</p>
</section>
<!-- /#end view submission-->
<section class="submissionTable">
    <div class="mask"><h>coming soon</h></div>
    <table id="submissionTable">
        <thead>
        <tr>
            <th>Rank</th>
            <th>Thumbnails</th>
            <th>Submission ID</th>
            <th>Submission Type</th>
            <th>Date Submitted</th>
            <th>Move Up/Down</th>
            <th>Remove</th>
            <th>Download</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td><img ng-src="{{uCtrl.thumbnail}}" alt="thumb"/></td>
            <td><span class="subId">#169702</span></td>
            <td><span>Checkpoint</span></td>
            <td><span>01.07.2014 09:37 AM EST</span></td>
            <td>
                <a href="javascript:" class="up"></a>
                <a href="javascript:" class="down"></a>
            </td>
            <td>
                <a href="javascript:" class="delete"></a>
            </td>
            <td>
                <a href="javascript:" class="download"></a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td><img ng-src="{{uCtrl.thumbnail}}" alt="thumb"/></td>
            <td><span class="subId">#169702</span></td>
            <td><span>Checkpoint</span></td>
            <td><span>01.07.2014 09:37 AM EST</span></td>
            <td>
                <span>
                    <a href="javascript:" class="up"></a>
                    <a href="javascript:" class="down"></a>
                </span>
            </td>
            <td>
                <a href="javascript:" class="delete"></a>
            </td>
            <td>
                <a href="javascript:" class="download"></a>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td><img ng-src="{{uCtrl.thumbnail}}" alt="thumb"/></td>
            <td><span class="subId">#169702</span></td>
            <td><span>Checkpoint</span></td>
            <td><span>01.07.2014 09:37 AM EST</span></td>
            <td>
                <a href="javascript:" class="up"></a>
                <a href="javascript:" class="down"></a>
            </td>
            <td>
                <a href="javascript:" class="delete"></a>
            </td>
            <td>
                <a href="javascript:" class="download"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- #/end buttonBar-->
</section>
<!-- /#end submission table-->
<section class="buttonHolder">
    <div class="buttonBar submitAnotherEntry">
        <a ng-click="uCtrl.viewSubmission = false" class="btn" tc-scroll-to-top="mainContent">Submit Another Entry</a>
    </div>
</section>
