<div ng-controller="HelpfulLinksCtrl as vm" class="panel panel-default">
	<div class="panel-heading">
    <span class="panel-title">{{vm.visibleNode.name}}</span>
    <a href="#" ng-show="vm.breadcrumb.length > 0" ng-click="vm.showPreviousLinks()" class="pull-right">Back</a>
  </div>
  <div class="panel-body padding-vert-reset">
    <ul class="row">
      <li ng-repeat="link in vm.visibleNode.children" ng-click="vm.changeVisibleLinks(link)">
        <a ng-show="link.href" href="{{link.href}}" ng-bind="link.name" title="{{link.description}}"></a>
        <span ng-show="!link.href" ng-bind="link.name"></span>
      </li>
    </ul>
  </div>
</div>