<div ng-controller="HelpfulLinksCtrl as vm" class="panel panel-default">
	<div class="panel-heading">
    <span class="panel-title">{{vm.message}}</span> 
  </div>
  <div class="panel-body padding-vert-reset">
    <ul class="row">
      <li><a href="{{vm.forumsAppUrl}}">Forums</a></li>
      <li><a href="{{vm.reviewAppUrl}}">Online Review</a></li>
      <li><a href="{{vm.mainUrl}}/challenges/?pageIndex=1">Challenges</a></li>
      <li><a href="{{vm.communityBaseUrl}}/tc?module=MyHome">Edit Preferences</a></li>
      <li><a href="{{vm.mainUrl}}/community/getting-started/">Getting Started</a></li>
      <li><a href="{{vm.helpAppUrl}}">Help Center</a></li>
    </ul>
  </div>
</div>