<div class="member-program-content" ng-controller="MemberProgramCtrl as vm">
    <h3>Swift</h3>
     
    <h4>Adjective:</h4>

    <p>– happening quickly or promptly.</p>
     
    <h4>Noun:</h4>

    <p>– a swift-flying insectivorous bird with long slender wings and a superficial resemblance to a swallow, spending most of its life on the wing.</p>

    <p>– a moth, typically yellow-brown in color, with fast darting flight. The eggs are scattered in flight and the larvae live underground feeding on roots, where they can be a serious pest.</p>

     
    <h4>Proper Noun:</h4>

    <p>-Apple’s latest and greatest programming language for iOS8 that will enable you to become a rockstar mobile developer and achieve fortune & glory untold.</p>

     
    <p>We'll get you from a beginner to an expert and provide certifications to prove you are a great developer!  Sign up now and check out the first mission</p>
</div>