<div class="member-program-content container-fluid" ng-controller="MemberProgramCtrl as vm">
  <div class="center-align-text">
    <img src="/mf/i/swift-getting-started.png" />
    <!-- <span>Get Started with Swift</span> -->
  </div>
  <div class="description">
    <p>Apple’s latest and greatest programming language for iOS8 that will enable you to become a rockstar mobile developer and achieve fortune & glory untold.</p>

     
    <p>We'll get you from a beginner to an expert and provide certifications to prove you are a great developer!  Sign up now and check out the first mission</p>
  </div>
  <div class="signup">
    <input type="button" class="btn btn-primary center-block" value="Sign Up">
  </div>
</div>