<div ng-controller="MyChallengesCtrl as vm" >
  <div class="widget-content">
    <div class="challenges-header clearfix">
      <div class="pull-left"><strong>My Challenges</strong></div>
      <div class="pull-right" ng-show="vm.totalPages > 1">
        <ul class="tc-pager">
          <li ng-show="vm.prevPageLink.val > 0 && vm.prevPageLink.val <= vm.totalPages" ng-click="vm.changePage(vm.prevPageLink)" class="page-link pull-left" ng-class="vm.getCurrentPageClass(vm.prevPageLink)">
            <a href="#">{{vm.prevPageLink.text}}</a>
          </li>
          <li class="page-status pull-left page-link">{{vm.firstRecordIndex}}-{{vm.lastRecordIndex}} of {{vm.totalRecords}}</li>
          <li ng-show="vm.nextPageLink.val > 0 && vm.nextPageLink.val <= vm.totalPages" ng-click="vm.changePage(vm.nextPageLink)" class="page-link pull-left" ng-class="vm.getCurrentPageClass(vm.nextPageLink)">
            <a href="#">{{vm.nextPageLink.text}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <table width="100%" class="table table-responsive">
        <thead>
          <tr class="active">
            <th class="hidden-xs">Type</th>
            <th class="hidden-xs">First Prize</th>
            <th>Challenge</th>
            <th class="hidden-sm hidden-md hidden-lg">Ist Prize</th>
            <th class="hidden-xs hidden-sm">Roles</th>
            <th class="hidden-xs">Submit By</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-show="vm.visibleChallenges.length > 0 && !vm.loading" ng-repeat="challenge in vm.visibleChallenges">
            <td class="{{challenge.challengeCommunity}} hidden-xs">&nbsp;</td>
            <td class="hidden-xs">{{challenge.firstPlacePrize | currency}}</td>
            <td rel="challenge-name">
              <a href="/challenge-details/{{challenge.challengeId}}?type={{challenge.challengeCommunity}}">{{challenge.challengeName}}</a>
              <div class="hidden-sm hidden-md hidden-lg margin-top-2x"><span class="color-reset">Submit By:</span> {{challenge.submissionEndDate | date: 'MM/dd/yy HH:mm '}}</div>
            </td>
            <td class="hidden-sm hidden-md hidden-lg">{{challenge.firstPlacePrize | currency}}</td>
            <td rel="roles" class="ellipsis hidden-xs hidden-sm" title="{{challenge.roles.join(', ')}}">{{challenge.roles.join(', ')}}</td>
            <td class="hidden-xs" class="my-challenges-submittion-date ellipsis">{{challenge.submissionEndDate | date: 'MM/dd/yy HH:mm '}}</td>
          </tr>
          <tr ng-show="vm.loading">
            <td colspan="5"><div class="widget-loading"></div></td>
          </tr>
          <tr ng-show="vm.visibleChallenges.length === 0">
            <td colspan="5">You don't have any active challenges</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>