<div ng-controller="MyChallengesCtrl as vm" >
    <strong>My Challenges</strong>
    <table width="100%" ng-show="vm.myChallenges.length > 0" class="my-challenges-table">
        <thead>
            <tr>
                <td>Type</td>
                <td>#1</td>
                <td>Challenge</td>
                <td>Submit By</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="challenge in vm.myChallenges">
                <td>{{challenge.challengeCommunity}}</td>
                <td>{{challenge.firstPlacePrize | currency}}</td>
                <td><a href="/challenge-details/{{challenge.challengeId}}">{{challenge.challengeName}}</a></td>
                <td class="my-challenges-submittion-date">{{challenge.submissionEndDate | date}}</td>
            </tr>
        </tbody>
    </table>

    <div ng-show="vm.myChallenges.length === 0">
        You don't have any active challenges
    </div>
</div>