<div class="upcoming-srms-div" ng-controller="UpcomingSRMsCtrl as vm" >
    <strong>Upcoming SRMs</strong>
    <table width="100%" class="table table-bordered table-responsive">
        <thead>
            <tr class="active">
                <th>Name</th>
                <th>Registration</th>
                <th>Coding</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-show="vm.upcomingSRMs.length > 0" ng-repeat="srm in vm.upcomingSRMs">
                <td>{{srm.contestName}}</td>
                <td>{{srm.registrationStartTime | date:'medium' }}</td>
                <td>{{srm.codingStartTime | date:'medium'}}</td>
            </tr>
            <tr ng-show="vm.upcomingSRMs.length > 0">
                <td colspan="3">
                  <a target="_blank" href="https://arena.topcoder.com">Practice now!</a>
                </td>
            </tr>
            <tr ng-show="vm.upcomingSRMs.length === 0">
              <td colspan="3">There are no upcoming SRMs scheduled at this time</td>
            </tr>
        </tbody>
    </table>
</div>