		<header class="head">
			<h4 class="trackName" ng-show="dataCtrl.subTrack === 'algorithm'">DATA SCIENCE: Algorithm</h4>
			<h4 class="trackName" ng-show="dataCtrl.subTrack === 'marathon'">DATA SCIENCE: Marathon</h4>
			<div class="detailedRating">
				<div class="row fieldRating">
					<label>Rating:</label>
					<div class='val' ng-class="getRatingColor(dataCtrl[dataCtrl.subTrack].rating)" ng-bind="dataCtrl[dataCtrl.subTrack].rating"></div>
				</div>

				<div class="row">
					<label>Percentile:</label>
					<div class="val" ng-bind="dataCtrl[dataCtrl.subTrack].percentile|| ''"></div>
				</div>
				<div class="row">
					<label>Volatility:</label>
					<div class="val" ng-bind="dataCtrl[dataCtrl.subTrack].volatility|| ''"></div>
				</div>
				<div class="row">
					<label>Rank:</label>
					<div class="val" ng-bind="dataCtrl[dataCtrl.subTrack].rank|| ''"></div>
				</div>
				<div class="row">
					<label>Default Language:</label>
					<div class="val" ng-bind="dataCtrl[dataCtrl.subTrack].defaultLanguage|| ''"></div>
				</div>
			</div>
			<div class="detailedRating">

				<div class="row">
					<label>Country Rank:</label>
					<div class="val" ng-bind="dataCtrl[dataCtrl.subTrack].countryRank|| ''"></div>
				</div>
				<div class="row">
					<label>Competitions:</label>
					<div class="val" ng-bind="dataCtrl[dataCtrl.subTrack].competitions|| ''"></div>
				</div>
				<div class="row">
					<label>Maximum Rating: </label>
					<div class="val" ng-bind="dataCtrl[dataCtrl.subTrack].maximumRating|| ''"></div>
				</div>
				<div class="row">
					<label>Most Recent Event: </label>
					<div class="val" ng-bind="(dataCtrl[dataCtrl.subTrack].mostRecentEventDate  | date : 'MMM yy') || '' "></div>
				</div>
				<div class="row">
					<label>Minimum Rating: </label>
					<div class="val" ng-bind="dataCtrl[dataCtrl.subTrack].minimumRating|| ''"></div>
				</div>
				<div class="clear"></div>
			</div>
		</header>