/* -------------
 * CSS
 * ------------- */
form.jqtransformdone label{
	margin-top:4px;
	margin-right: 8px;
	display: block;
	float:left;
}
form.jqtransformdone div.rowElem{
	clear:both;
	padding:4px 0px;
}

/* -------------
 * Inputs
 * ------------- */
.jqTransformInputWrapper {
	height: 34px;
	width: 100%!important;
	padding: 0 2px 0 0;
	background: transparent url(../i/form/input.png) no-repeat 100% -40px;
	text-align: left;
}

.jqTransformInputInner {
	height: 34px;
	padding: 0 4px 0 0;
	margin: 0px;
}

.jqTransformInputInner > div {
	background: transparent url(../i/form/input.png) no-repeat 0 0;
	height: 20px;
	padding: 7px 2px 7px 8px;
	margin: 0px;
}

.jqTransformInputInner div input {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height: 20px;
	vertical-align: middle;
	height: 20px;
	color:#666666;	
	border-width: 0;
	padding: 0;
	margin: 0;
	width: 100%!important;
	background: #ffffff;
}
.emailField .jqTransformInputInner div input {
	color:#ff8a00;
}

/*error*/
.errorRow .jqTransformInputWrapper{	background-position: 100% -120px;}
.errorRow .jqTransformInputInner > div { background-position: 0 -80px;}

/* -------------
 * Radios
 * ------------- */
.jqTransformRadioWrapper {float: left;display:block;margin:0px;	margin-top:1px;}
.jqTransformRadio {
	background: transparent url(../i/form/radio.png) no-repeat 0 0;
	vertical-align: middle;
	height: 16px;
	width: 16px;
	display:block;/*display: -moz-inline-block;*/
	-moz-transition-duration: 0s; -webkit-transition-duration: 0s; transition-duration: 0s;
}


/* -------------
 * Checkboxes
 * ------------- */
span.jqTransformCheckboxWrapper{
	display:block;float:left;
}
a.jqTransformCheckbox {
	background: transparent url(../i/form/checkbox.png) no-repeat 0 0;
	vertical-align: top;
	height: 16px;
	width: 16px;
	display:block;/*display: -moz-inline-block;*/
	-moz-transition-duration: 0s!important; 
	-webkit-transition-duration: 0s!important; 
	transition-duration: 0s!important; 
}
/* -------------
 * Checked - Used for both Radio and Checkbox
 * ------------- */
a.jqTransformChecked { background-position: 0 -20px;}
a.jqTransformCheckboxDisabled { background-position: 0 -40px; cursor: default;}
a.jqTransformCheckedDisabled { background-position: 0 -60px; cursor: default;}


/* -------------
 * Selects
 * ------------- */
.jqTransformSelectWrapper {
	width: 100%!important;
	position:relative;
	text-align: left;
}
.jqTransformSelectWrapper > div {
	height: 34px;
	background: url(../i/form/input.png) no-repeat 0 0;
	margin-right: 32px;
}
.jqTransformSelectWrapper div span {
	position: absolute;
	top: 0;
	left: 0;
	right: 34px;
	width: auto!important;
	font-size: 13px;
	white-space: nowrap;
	color:#666666;	
	height: 20px;
	line-height: 20px;
	padding: 7px 0 7px 8px;
	overflow: hidden;
	cursor:pointer;
}

.jqTransformSelectWrapper  a.jqTransformSelectOpen {
	display: block;
	position: absolute;
	right: -2px;
	width: 36px;
	height: 34px;
	background: url(../i/form/select-right.png) no-repeat top right;
	-moz-transition-duration: 0s; -webkit-transition-duration: 0s; transition: 0s;
}
.jqTransformSelectWrapper ul {
	position: absolute;
	width: 100%!important;
	top: 33px;
	left: 0px;
	list-style: none;
	background-color: #FFF;
	border: solid 1px #e7e7e7;
	display: none;
	margin: 0px;
	padding: 0px;
	height: auto!important;
	max-height: 150px;
	overflow: auto;
	overflow-y: auto;
	z-index:10;
	-webkit-overflow-scrolling: touch;
}

.jqTransformSelectWrapper ul a {
	display: block;
	padding: 2px 5px;
	text-decoration: none;
	color:#666666;
	background-color: #FFF;
	font-size: 12px;
	line-height: 26px;
	min-height: 26px;
}

.jqTransformSelectWrapper ul a.selected {
	background: #dddddd;
	color: #666666;
}

.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
	background:#FF9900;
	color: #fff;
}
/*error*/
.errorRow .jqTransformSelectWrapper > div{ background-position: 0 -80px;}

/*hover*/
.jqTransformSelectWrapperHover  a.jqTransformSelectOpen, .jqTransformSelectWrapper  a.jqTransformSelectOpen:hover{ background-position: 0 -40px;}

/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {display: none;}


/*images for retina display*/
@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-webkit-min-resolution: 192dpi) {
/* -------------
 * Inputs
 * ------------- */
.jqTransformInputWrapper,
.jqTransformInputInner > div,
.jqTransformSelectWrapper > div,
.panelBody .fileField .fileNameDisplay {
	background-image:  url(../i/form/input-2x.png);
	background-size: 1000px 160px;
}
.jqTransformSelectWrapper  a.jqTransformSelectOpen {
	background-image: url(../i/form/select-right-2x.png);
	background-size: 36px 80px;
}

}