<div class="actions">
  <div class="lt challengeType">
    <ul>
      <li><a href="/challenges/{{contest.contestType}}/active/" class="link" ng-class="{active: isActive('active')}" ng-click="setListType('active')">Open Challenges</a></li>
      <li><a href="/challenges/{{contest.contestType}}/past/" class="link" ng-class="{active: isActive('past')}" ng-click="setListType('past')">Past Challenges</a></li>
      <li><a href="/challenges/{{contest.contestType}}/upcoming/" class="link" ng-class="{active: isActive('upcoming')}" ng-click="setListType('upcoming')">Upcoming Challenges</a></li>
      <!-- Coming soon!  <li><a href="http://www.topcoder.com/review-opportunities/develop/" class="link">Review Opportunities</a></li> -->
    </ul>
  </div>
  <div class="rt">
    <a href="javascript:;" class="searchLink advSearch" ng-show="contest.contestType != ''" ng-click="search.show = !search.show">
      <i></i>Advanced Search
    </a>
  </div>
</div>