<div>
  <div class="filterOpts">
    <section class="types">
      <h5>Contest types:</h5>
      <div class="data">
        <ul class="list">
          <!-- Issue ID: I-107511 - Fix the 'for' attribute of each label to the correct corresponding radio button id -->
          <li><input type="radio" id="fAll" name="radioFilterChallenge" value="all" ng-model="search.radioFilterChallenge"> <label for="fAll"><strong>All</strong></label></li>
          <li><input type="radio" id="fLogo" name="radioFilterChallenge" value="Logo Design" ng-model="search.radioFilterChallenge"> <label for="fLogo">Logo Design</label></li>
          <li><input type="radio" id="fAFE" name="radioFilterChallenge" value="Application Front-End Design" ng-model="search.radioFilterChallenge"> <label for="fAFE">Application Front End</label></li>
          <li><input type="radio" id="fP" name="radioFilterChallenge" value="Print/Presentation" ng-model="search.radioFilterChallenge"> <label for="fP">Print/Presentation</label></li>
          <li><input type="radio" id="fIco" name="radioFilterChallenge" value="Banners/Icons" ng-model="search.radioFilterChallenge"> <label for="fIco">Banner/Icon</label></li>
          <li><input type="radio" id="fW" name="radioFilterChallenge" value="Web Design" ng-model="search.radioFilterChallenge"> <label for="fW">Web Design</label></li>
          <li><input type="radio" id="df2f" name="radioFilterChallenge" value="Design First2Finish" ng-model="search."> <label for="df2f">Design First2Finish</label></li>
          <li><input type="radio" id="fWI" name="radioFilterChallenge" value="Widget or Mobile Screen Design" ng-model="search.radioFilterChallenge"> <label for="fWI">Widget/Mobile Screen</label></li>
          <li><input type="radio" id="fIG" name="radioFilterChallenge" value="Idea Generation" ng-model="search.radioFilterChallenge"> <label for="fIG">Idea Generation</label></li>
          <li><input type="radio" id="fWF" name="radioFilterChallenge" value="Wireframes" ng-model="search.radioFilterChallenge"> <label for="fWF">Wireframe</label></li>
        </ul>
      </div>
    </section>
    <section class="otherOpts">
      <ul>
        <li class="date row isDisabled"><div class="lbl">
          <input type="checkbox" id="fSDate" >
          <label for="fSDate"><strong>Submission End  From:</strong></label>
          </div>
          <div class="val">
            <span class="datePickerWrap"><input id="startDate" type="text" class="datepicker from hasDatepicker" disabled="" ng-model="search.fSDate"><img class="ui-datepicker-trigger" ng-src="{{images}}/ico-cal.png" alt="..." title="..." style="opacity: 0.5; cursor: default;"></span>
          </div>
        </li>
        <li class="date row isDisabled">
          <div class="lbl">
            <input type="checkbox" id="fEDate">
            <label for="fEDate"><strong>Submission End  To:</strong></label>
          </div>

          <div class="val">
            <span class="datePickerWrap"><input id="endDate" type="text" class="datepicker to hasDatepicker" disabled="" ng-model="search.fEDate"><img class="ui-datepicker-trigger" ng-src="{{images}}/ico-cal.png" alt="" title="" style="opacity: 0.5; cursor: default;"></span>
          </div>
        </li>
      </ul>
    </section>
    <div class="clear"></div>
  </div>
  <!-- /.filterOpts -->
  <div class="actions">
    <a href="javascript:;" class="btn btnSecondary btnClose" ng-click="search.show = false">Close</a>
    <a href="javascript:;" class="btn btnApply" ng-click="submit()">Apply</a>
  </div>
</div>