
/* HTML5 Reset style
-----------------------------------*/
 html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;    
}
div, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    -webkit-backface-visibility: hidden;    
}
body {
    line-height: 1.2em;
    /* set default font details */
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #333;
	font-weight:normal;
    -webkit-text-size-adjust:none;
    text-size-adjust:none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content: none;
}
a{
 background: transparent;   
}
a, a:active, a:visited  {
    text-decoration: none; 
    outline: none;     
}
:not('.ng-header-bootstrap') a,
:not('.ng-header-bootstrap') a:active,
:not('.ng-header-bootstrap') a:visited  {
    color: #FF8A00;
    -moz-transition-duration: .3s; -webkit-transition-duration: .3s; transition-duration: .3s;    
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a.profile-link-dropdown {
  color: #a3a3a3;
}
a[href$='javascript:;']{
    -webkit-touch-callout: none;
}
:not('.ng-header-bootstrap') a:hover {
    color: #FFB800;
}
[title] {
    -webkit-user-select: none;
}
.linkAlt{
    color: #3399cc;
}
.linkAlt:hover{
    color: #2FBAFF;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input, textarea {
    color: #333;
    font-size: 15px;
    font-family: lato, Arial, Helvetica, sans-serif;
    outline: none;
    vertical-align: baseline;
}
input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"]{
    border: none;
    padding:6px;
    margin: 0;    
    height: 20px;
    line-height: 20px;
    background: #3f4143;
    border-radius: 4px;
}
/* heading */
 h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: 1.125em;
    font-family: lato, Arial, Helvetica, sans-serif;
}
header h1,
.sideStream h1{
    font-size: 30px;
    color: #333;
}
h2{
    font-size: 36px;
    color: #333;
    font-weight: normal; 
}
    h2 em{
        color: #f72125;
    }
h3{
    font-size: 20px;
}
h4{
    font-size: 18px;
    color: #d8d8d8;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
em{
    font-style: normal;
}
sub {
    vertical-align: sub;
}
sup {
    vertical-align: super;
}
sub, sup {
    font-size: 0.7em;
    line-height: 100%;
}

/* layouts */
.grid{
    display: block;
}
.grid-float{
    overflow: hidden;
}
    .grid .grid-2-1{
        width: 50%;
    }
    .grid .grid-3-1{
        width: 320px;        
        display: inline-block;
        margin: 0 12px;
    
    }
    .grid-float .grid-3-1,
    .grid-float .grid-2-1{
        float: left;
    }    
/* rightSplit */
.grid-3-3{
    position: relative;
}
    .grid-3-3 .grid-2-3{
        width: 665px;
    
        float: left;
}
    .grid-3-3 .grid-1-3{
        width: 320px;
        float: right;
    }
/* clear floats */
.group:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
	clear: both;
}
/* common css */
 input.isBlured {
    color: #aaa;
}
.hide{
    display: none;    
}
.clear{
    clear: both;
}
.container {
    width: 1010px;
    margin: 0 auto;
    position: relative;
}
.container.fluid{
    width: auto;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.padding-reset {
    padding: 0px;
}

.padding-vert-reset {
    padding-top: 0px;
    padding-bottom: 0px;
}

.padding-horiz-reset {
    padding-left: 0px;
    padding-right: 0px;
}

.padding-vert-1x {
    padding-top: 5px;
    padding-bottom: 5px;
}

.padding-bottom-1x {
    padding-bottom: 5px;
}

.margin-top-1x {
    margin-top: 5px;
}

.margin-bottom-1x {
    margin-bottom: 5px;
}

.margin-left-1x {
    margin-left: 5px;
}

.margin-right-1x {
    margin-right: 5px;
}

.margin-vert-1x {
    margin-top: 5px;
    margin-bottom: 5px;
}

.margin-vert-2x {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-top-2x {
    margin-top: 10px;
}

.margin-top-3x {
    margin-top: 15px;
}

.margin-bottom-3x {
    margin-bottom: 15px;
}

.margin-vert-3x {
    margin-top: 15px;
    margin-bottom: 15px;
}

.center-align-text {
    text-align: center;
}

.right-align-text {
    text-align: right;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.loading,.errorLoading{
    position: fixed;
    z-index: 200000;/*have to set really high because website header is hiding this otherwise*/
    left: 50%;
    height: 36px;
    line-height: 34px;
    padding: 5px 10px 5px 50px;
    color: #fff;
    background: #ff8a00 url(@@cdn/i/loading.gif) 10px 50% no-repeat;
    font-size: 16px;
    top: 0;
    margin-left: -65px;
}
.errorLoading{
	background: #ff8a00;
	left: 38%;
	width:55%;
	max-width:400px;
	line-height:16px;
	font-size:0.9em;
	height:auto;
	text-align:center;
	padding:5px;
}
#wrapper{
    position: relative;
}
#wrapper > .content{
    background: #fffffe;
    position: relative;
    z-index: 5;
}
/* btns */
.btn, a.btn{
    display: inline-block;
    background: #ff9900;
    color: #fff;
    border-bottom: 4px solid #ff7a00;
    height: 32px;
    line-height: 34px;
    width: 130px;
    text-align: center;
    font-size: 15px;
    border-radius: 6px;
    behavior: url(./wp-content/themes/tcs-responsive/css/PIE.htc);
    position: relative;
}
    .btn:hover{
        background: #ff7a00;
        text-decoration: none;
    
        color: #fff;
}
.btnAlt, a.btnAlt{
    background: #00aeff;
    border-bottom: 4px solid #0096ff;
}
    .btnAlt:hover{
        background: #0096ff;
    
}
.btnGreen, a.btnGreen{
    background: #64c51c;
    border-bottom: 4px solid #46b314;
}
    .btnGreen:hover{
        background: #46b314;

}
#navigation, #main{
    background: #fffffe;
}
#main{
     position: relative;
}
/* header
---------------------------*/
#navigation{
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
    z-index: 80;
    position: relative;

	/* Issue ID: I-113951 - Set to the higher value than the footer
	so the menu won't cut off when the page contains only small content */
    z-index: 100001;
    left: 0;
    top: 0;
    right: 0;
    background: #fffffe;
    behavior: url(./wp-content/themes/tcs-responsive/css/PIE.htc);
}
#navigation, #navigation > .container{
    height: 94px;
}
.logo{
    position: absolute;
    left: 0;
    top: 27px;
    width: 330px;
    height: 58px;
    background: url(@@cdn/i/logo.png) 0 0 no-repeat;
}
    .logo a{
        display: block;
        height: 52px;    
        -moz-transition-duration: 0s; -webkit-transition-duration: 0s; transition-duration: 0s;
}
    
#mainNav{
    z-index: 10;
    position: absolute;
    right: 156px;
    top: 50px;
}
    #mainNav .root{
        min-height: 34px;
    }
    #mainNav .root > li{
        margin-left: 8px;
        float: left;        
    
        position: relative;
}
     #mainNav .root > li > .child{
     
        display: none;
}
     /*#mainNav .root > li:hover > .child{
       display: block;
}
    #mainNav .root > li.hover > .child{
       margin-top: 0;  
}*/
     #mainNav .root .child{
         display: block;  
         background: #FF8A00;
         min-width: 80px;
         position: absolute;
         min-width: 100%;
         left: 15px;
}
     
        #mainNav .root > li a{
            padding: 0 10px 12px 15px;
            color: #666;
            -moz-transition-duration: .3s; 
            -webkit-transition-duration: .3s; 
            transition-duration: .3s;
            height: 32px;
            line-height: 32px;        
            display: block;
            min-width: 55px;
            font-weight: bold;
}
        #mainNav .root .child > li{
            padding: 0 10px;
        			width: 175px;
            border-top: 1px solid #FF7A00;  
}
        #mainNav .root .child a{            
        
            padding: 0 6px 0 0;
            margin: 0 -10px;
            text-indent: 15px;
            display: block;
            font-size: 12px;
            min-width: 0;
            font-weight: normal;
            color: #fff;
            white-space: nowrap;
}
        #mainNav .root .child li:hover{
    background: #F00;
        }
        #mainNav .root > li:hover a{      
            text-decoration: none;
}
    
#navigation .btnRegister{
    position: absolute;
    right: 0;
    top: 49px;
}
#navigation .btnMyAcc{
    position: absolute;
    right: 0;
    top: 49px;
    padding-right: 24px;
    width: 106px;
}
    .btnMyAcc i{
        display: inline-block;
        width: 16px;
        height: 9px;
        position: absolute;    
        right: 13px;
        top: 13px;
        background: url(@@cdn/i/ico-arrow.png) no-repeat;
        background-position: 0 0;      
        transition-duration: 0.3s;        
        cursor: pointer;
}
    .btnMyAcc.isActive i{
        background-position: 0 -12px;              
    }
/* Page Title
---------------------------*/
.pageTitleWrapper {
	height: 65px;
	margin-bottom: 41px;
	background-color: #eeeeee;	
}
	.pageTitleWrapper .pageTitle{
		height: 65px;
		position: relative;
	}
		.pageTitleWrapper .pageTitle h2{
			position: absolute;
			top: 0;
			left: 1px;
			padding: 7px 0 21px 70px;
			line-height: 58px;
			background-image: url(@@cdn/i/ico-title.png);
			background-repeat: no-repeat;
			background-position: 0 0;
			color: #666666;
			font-size: 30px;
		}
		.pageTitleWrapper .pageTitle h2.overviewPageTitle{
			background-position: 0 0;
		}
		.pageTitleWrapper .pageTitle h2.casePageTitle{
			background-position: 0 -90px;
		}
		.pageTitleWrapper .pageTitle h2.pressReleasePageTitle{
			background-position: 0 -180px;
		}
		.pageTitleWrapper .pageTitle h2.resourcePageTitle{
			background-position: 0 -270px;
		}
		.pageTitleWrapper .pageTitle h2.storyPageTitle{
			background-position: 0 -360px;
		}
		.pageTitleWrapper .pageTitle .backLink{
			float: right;
			font-size: 16px;
			font-weight: 300;
			margin-top: 24px;
		}
/* footer
---------------------------*/
footer {
  font-family: "Merriweather Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
}

.bottom-footer {
  background-color: #3D3D3D;
  padding: 1px 20px 30px 20px; }

.social-links {
  font-size: 13px;
  line-height: 1.2em;
  text-align: center;
  font-weight: normal;
  margin: 35px 0;
  color: #fff; }
  .social-links a {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 23px 0; }
    .social-links a + a {
      margin-left: 30px; }

.copyright-notice {
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  color: #656565; }

@media only screen and (max-width: 1024px) {
  .bottom-footer, .fold-pusher {
    height: 170px; }
  .bottom-footer .menu-item {
    display: none;
    margin-top: 30px; }
  .menu-visible .bottom-footer .menu-item {
    display: block; }
  .social-links .fb-link {
    background-image: url(@@cdn/i/ico-facebook.svg);
    width: 27px;
    height: 27px; }
  .social-links .twitter-link {
    background-image: url(@@cdn/i/ico-twitter.svg);
    width: 28px;
    height: 24px; }
  .social-links .linkedin-link {
    background-image: url(@@cdn/i/ico-linkedin.svg);
    width: 27px;
    height: 27px; }
  .social-links .google-link {
    background-image: url(@@cdn/i/ico-google.svg);
    width: 27px;
    height: 27px; } }

@media only screen and (min-width: 1025px) {
  .bottom-footer, .fold-pusher {
    height: 200px; }
  .bottom-footer {
    padding-top: 40px; }
    .bottom-footer .submenu-item + .submenu-item {
      margin-left: 50px; }
    .bottom-footer .menu-item {
      text-align: center;
      font-weight: normal; }
      .bottom-footer .menu-item .menu-link {
        color: #fff;
        font-size: 16px;
        line-height: 21px; }
      .bottom-footer .menu-item .menu-link:hover {
        color: #0096ff; }
  .copyright-notice {
    font-size: 15px;
    color: #fff; }
  .account-footer .copyright-notice {
    font-size: 12px;
    color: #656565; }
  .social-links {
    margin-bottom: 3px; }
    .social-links a {
      width: 26px;
      height: 26px;
      margin-top: 13px; }
    .social-links .fb-link {
      background-image: url(@@cdn/i/ico-facebook_desktop.svg); }
    .social-links .twitter-link {
      background-image: url(@@cdn/i/ico-twitter_desktop.svg); }
    .social-links .linkedin-link {
      background-image: url(@@cdn/i/ico-linkedin_desktop.svg); }
    .social-links .google-link {
      background-image: url(@@cdn/i/ico-google_desktop.svg); } }


/* header / log-in area */
#header:after {
  content: "";
  display: table;
  clear: both; }

.header-wrapper {
  box-sizing: content-box;
  z-index: 1000;
  border-bottom: 1px solid #D1D3D4; }

.search-icon, .search-wrapper .submenu:before {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("@@cdn/i/magnifying_glass.svg");
  background-size: contain;
  border: none;
  outline: none;
  cursor: pointer;
  background-repeat: no-repeat;
  box-sizing: content-box; }

.tc-text-logo {
  color: #B7B7B7;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
  padding-left: 7px; }

.btn-close-menu {
  display: inline-block;
  position: absolute;
  width: 55px;
  height: 55px;
  right: 0;
  top: 0;
  background: transparent;
  border: none; }
  .btn-close-menu:before, .btn-close-menu:after {
    position: absolute;
    left: 32px;
    top: 14px;
    content: ' ';
    height: 20px;
    width: 1px;
    background-color: #fff; }
  .btn-close-menu:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .btn-close-menu:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.top-header {
  text-align: center;
  background-color: #fff; }
  .top-header .logo-link {
    content: '';
    display: block;
    position: absolute;
    width: 49px;
    height: 19px;
    left: 13px;
    top: 14px;
    background: url("@@cdn/i/logo_mobile.svg");
    background-size: contain;
    background-repeat: no-repeat; }

.user-link {
  position: absolute;
  display: inline-block;
  line-height: 55px;
  right: 10px;
  top: 0;
  text-decoration: none; }

.btn-link {
  display: inline-block; }

.user-link .user-avatar, .user-link .btn-join {
  vertical-align: middle;
  border-radius: 50%;
  width: 31px; }

.btn-open-menu {
  color: #3D3D3D;
  font-size: 15px;
  line-height: 55px;
  font-family: inherit;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  display: inline-block;
  font-weight: bold;
  position: relative; }
  .btn-open-menu:after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #b7b7b7 transparent transparent transparent;
    background-color: transparent; }

.menu-item {
  color: #a3a3ae;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Sofia Pro'; }

.search-wrapper input {
  font-weight: bold;
  border: 1px solid #7f7f7f;
  color: #fff;
  border-radius: 4px;
  display: block;
  height: 32px;
  width: 100%;
  padding: 0 15px 0 37px;
  background: transparent;
  outline: none;
  box-shadow: none; }
  .search-wrapper input:focus {
    outline: none;
    box-shadow: none; }

.search-wrapper ::-webkit-input-placeholder {
  color: #7f7f7f; }

.search-wrapper ::-moz-placeholder {
  /* Firefox 19+ */
  color: #7f7f7f; }

.search-wrapper :-ms-input-placeholder {
  color: #7f7f7f; }

.search-wrapper .submenu:before {
  content: '';
  position: absolute;
  top: 8px;
  left: 6px; }

.user-menu .user-avatar {
  height: 31px;
  vertical-align: middle;
  border-radius: 50%; }

.user-menu .username {
  vertical-align: middle; }
  .user-menu .username.underline {
    padding-bottom: 12px;
    border-bottom: 2px #0096FF solid; }

.user-menu .menu-item-header {
  text-transform: none; }

.menu-item-header {
  text-transform: uppercase; }

.submenu {
  font-size: 14px; }

.suggestion-list {
  margin-top: 25px;
  font-weight: 600; }

.menu-link {
  color: #B7B7B7;
  text-decoration: none;
  line-height: 30px;
  font-size: 14px;
  cursor: pointer; }

.menu-text {
  color: #fff; }
  .menu-text:hover {
    color: #fff; }

@media only screen and (max-width: 1024px) {
  .header-wrapper.autocomplete .menu-item:not(.search-wrapper),
  .header-wrapper.autocomplete ~ .bottom-footer > *:not(.copyright-notice) {
    display: none; }
  .header-wrapper.autocomplete .search-wrapper {
    margin-bottom: 0; }
  .main-menu {
    display: none; }
  .anonymous-menu a {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 18px;
    padding: 4px 0; }
    .anonymous-menu a + a {
      margin-top: 12px; }
  .mobile-heading {
    line-height: 52px; }
  .menu-visible .main-menu {
    display: block; }
  .menu-visible .top-header {
    background-color: #3D3D3D; }
  .menu-link {
    display: block; }
    .menu-link.active {
      background-color: rgba(0, 150, 255, 0.35);
      border-left: 5px solid #0096FF;
      color: #fff;
      margin: 0 -20px;
      padding-left: 15px; }
  .nav-categories, .show-large, .menu-icon {
    display: none; }
  .top-header {
    padding: 0 20px; }
  .menu-item {
    line-height: 30px;
    text-align: left; }
    .menu-item:not(:last-child) {
      padding-bottom: 15px;
      margin-bottom: 15px; }
  .search-wrapper {
    position: relative;
    margin-top: 10px;
    margin-bottom: 28px; }
  .user-menu {
    border-bottom: 1px solid #7F7F7F;
    position: relative; }
    .user-menu .btn-edit-profile {
      position: absolute;
      right: 0;
      top: 0; } }

@media only screen and (min-width: 1025px) {
  .header-wrapper {
    background: #fff;
    position: relative;
    padding: 0 20px; }
  .show-small {
    display: none; }
  .menu-link {
    display: inline-block;
    color: #fff; }
  .search-wrapper .submenu {
    padding: 38px 54px 28px 54px; }
    .search-wrapper .submenu:before {
      display: none; }
    .search-wrapper .submenu input {
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #fff;
      font-size: 22px;
      height: 53px;
      padding: 0;
      font-weight: normal; }
      .search-wrapper .submenu input:focus {
        background-color: transparent; }
    .search-wrapper .submenu ::-webkit-input-placeholder {
      color: #d1d3d4; }
    .search-wrapper .submenu ::-moz-placeholder {
      /* Firefox 19+ */
      color: #d1d3d4; }
    .search-wrapper .submenu :-ms-input-placeholder {
      color: #d1d3d4; }
  .top-header {
    height: 54px;
    margin: 0 auto; }
    .top-header .main-menu {
      line-height: 54px; }
    .top-header .menu-item .submenu {
      overflow: hidden;
      max-height: 0px;
      transition: all 0.25s ease-in-out; }
    .top-header .menu-item:hover .submenu {
      max-height: 500px; }
    .top-header .menu-item:not(:hover) .submenu:not(.expanded):not(:hover) {
      padding: 0px 54px 0px 54px; }
    .top-header .menu-link:hover {
      background-color: #0096FF;
      text-decoration: none; }
    .top-header .menu-link.active {
      background-color: rgba(0, 150, 255, 0.35); }
    .top-header .menu-link.active:hover {
      background-color: #0096ff; }
    .top-header .menu-item:not(.anonymous-menu):hover .menu-item-header {
      position: relative;
      cursor: pointer;
      color: #0096FF; }
      .top-header .menu-item:not(.anonymous-menu):hover .menu-item-header:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 6px 0 6px;
        border-color: #0095ff transparent transparent transparent;
        position: absolute;
        bottom: 5px;
        left: 50%;
        margin-left: -6px;
        background-color: transparent; }
      .top-header .menu-item:not(.anonymous-menu):hover .menu-item-header.hide:after {
        display: none; }
    .top-header .menu-item.search-wrapper:hover .menu-item-header:after {
      margin-left: 6px; }
    .top-header .logo-link {
      background: url("@@cdn/i/logo_topcoder.svg");
      width: 156px;
      height: 54px;
      margin: 0;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      float: left;
      position: static; }
    .top-header:after {
      content: "";
      display: table;
      clear: both; }
    .top-header .submenu {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: rgba(38, 38, 38, 0.95); }
    .top-header .suggestion-list {
      text-align: left;
      font-size: 16px;
      line-height: 32px;
      color: #bababa; }
    .top-header .link-group .menu-link {
      max-width: 90px;
      padding: 0 30px;
      height: 123px;
      font-size: 12px;
      font-weight: 300;
      line-height: 1.2em; }
      .top-header .link-group .menu-link img {
        display: block;
        height: 36px;
        width: 36px;
        margin: 30px auto 10px auto; }
    .top-header .user-menu, .top-header .search-wrapper {
      float: right;
      color: #a3a3a3;
      font-size: 15px; }
      .top-header .user-menu + .menu-item:not(.link-group), .top-header .search-wrapper + .menu-item:not(.link-group) {
        margin-right: 54px; }
    .top-header .anonymous-menu {
      margin-right: 20px; }
      .top-header .anonymous-menu .menu-item-header {
        padding-right: 0; }
      .top-header .anonymous-menu a {
        font-weight: normal;
        padding: 8px 15px; }
        .top-header .anonymous-menu a:not(:last-child) {
          margin-right: 12px; }
  .menu-item-header {
    color: #a3a3a3; }
  .user-menu .menu-item-header {
    position: relative;
    padding-right: 40px; }
    .user-menu .menu-item-header .user-avatar {
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -16px; }
  .submenu-item {
    display: inline-block;
    vertical-align: bottom; }
  .link-group {
    display: inline-block;
    color: #A3A3AE;
    font-size: 14px;
    font-weight: 400; }
    .link-group.selected {
      box-shadow: inset 0 -4px 0px -1px #0096ff; }
  .search-wrapper .menu-item-header:before {
    content: '';
    display: inline-block;
    height: 22px;
    width: 1px;
    background-color: #a3a3a3;
    margin: 0px 12px 0px 12px;
    vertical-align: middle; }
  .user-menu + .link-group {
    padding: 0px 40px 0px 40px; }
    .user-menu + .link-group ~ .link-group {
      padding: 0px 40px 0px 40px; }
  .nav-categories {
    position: relative; }
  .nav-category {
    display: inline-block; }
    .nav-category button {
      font-size: 16px;
      line-height: 1.2em;
      color: #a3a3a3;
      font-weight: 600;
      padding: 0; }
    .nav-category.btn-search, .nav-category.btn-user {
      position: absolute;
      top: 50%;
      line-height: normal; }
    .nav-category.btn-search {
      width: 17px;
      height: 17px;
      margin-top: -9px;
      right: 10px; }
    .nav-category.btn-user {
      height: 30px;
      margin-top: -15px;
      right: 50px; }
      .nav-category.btn-user button {
        line-height: 30px; }
      .nav-category.btn-user .username, .nav-category.btn-user .user-avatar {
        vertical-align: middle; }
      .nav-category.btn-user .user-avatar {
        margin-left: 10px; }
    .nav-category + .nav-category {
      margin-left: 80px; } }


/* button style from topcoder-app */
a.tc-btn, button.tc-btn {
  height: 40px;
  padding: 0 15px;
  line-height: 40px;
  border-radius: 4px;
  border: 1px solid #0096FF;
  background-color: #0096FF;
  background-image: none;
  font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  text-shadow: none; }
  a.tc-btn:hover, button.tc-btn:hover {
    background-color: #097DCE;
    border-color: #097DCE;
    color: #fff; }
  a.tc-btn:active,
  a.tc-btn:focus, button.tc-btn:active,
  button.tc-btn:focus {
    background-color: #097DCE;
    background-image: none;
    border-color: #097DCE;
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    line-height: 30px; }
  a.tc-btn:disabled, button.tc-btn:disabled {
    opacity: .3; }
  a.tc-btn.tc-btn-secondary, button.tc-btn.tc-btn-secondary {
    border-color: #D1D3D4;
    background-color: #D1D3D4;
    background-image: none; }
    a.tc-btn.tc-btn-secondary:hover, button.tc-btn.tc-btn-secondary:hover {
      border-color: #0096FF;
      background-color: #0096FF;
      background-image: none; }
    a.tc-btn.tc-btn-secondary:active, button.tc-btn.tc-btn-secondary:active {
      border-color: #097DCE;
      background-color: #097DCE;
      background-image: none;
      box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.3); }
  a.tc-btn.tc-btn-ghost, button.tc-btn.tc-btn-ghost {
    color: #0096FF;
    background-color: #fff; }
    a.tc-btn.tc-btn-ghost:hover, button.tc-btn.tc-btn-ghost:hover {
      color: #fff;
      border-color: #0096FF;
      background-color: #0096FF; }
    a.tc-btn.tc-btn-ghost:active, button.tc-btn.tc-btn-ghost:active {
      color: #fff;
      border-color: #097DCE;
      background-color: #097DCE;
      box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.3); }
    a.tc-btn.tc-btn-ghost:disabled, button.tc-btn.tc-btn-ghost:disabled {
      border-color: #B7B7B7;
      color: #B7B7B7; }
  a.tc-btn.tc-btn-ghost-secondary, button.tc-btn.tc-btn-ghost-secondary {
    color: #0096FF;
    background-color: #fff;
    border-color: #D1D3D4; }
    a.tc-btn.tc-btn-ghost-secondary:hover, button.tc-btn.tc-btn-ghost-secondary:hover {
      border-color: #0096FF; }
    a.tc-btn.tc-btn-ghost-secondary:active, button.tc-btn.tc-btn-ghost-secondary:active {
      color: #fff;
      border-color: #097DCE;
      background-color: #097DCE;
      box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.3); }
    a.tc-btn.tc-btn-ghost-secondary:disabled, button.tc-btn.tc-btn-ghost-secondary:disabled {
      border-color: #B7B7B7;
      color: #B7B7B7; }
  a.tc-btn.tc-btn-xs, button.tc-btn.tc-btn-xs {
    height: 20px;
    padding: 0 10px;
    line-height: 20px;
    font-size: 11px;
    border-radius: 3px; }
    a.tc-btn.tc-btn-xs:active, button.tc-btn.tc-btn-xs:active {
      line-height: 21px; }
  a.tc-btn.tc-btn-s, button.tc-btn.tc-btn-s {
    height: 30px;
    padding: 0 10px;
    line-height: 28px;
    font-size: 12px;
    font-weight: 500; }
    a.tc-btn.tc-btn-s:active, button.tc-btn.tc-btn-s:active {
      line-height: 29px; }
  a.tc-btn.tc-btn-l, button.tc-btn.tc-btn-l {
    height: 50px;
    padding: 0 25px;
    line-height: 50px;
    font-size: 18px; }
    a.tc-btn.tc-btn-l:active, button.tc-btn.tc-btn-l:active {
      line-height: 51px; }
  a.tc-btn.tc-btn-xl, button.tc-btn.tc-btn-xl {
    height: 60px;
    padding: 0 30px;
    line-height: 60px;
    font-size: 24px; }
    a.tc-btn.tc-btn-xl:active, button.tc-btn.tc-btn-xl:active {
      line-height: 61px; }
  a.tc-btn.tc-btn-wide, button.tc-btn.tc-btn-wide {
    padding: 0 30px; }


/*! Qtip2 style */

.qtip {
	margin-top: 12px;
}

.qtip .qtip-titlebar{
	color: #FFFFFF !IMPORTANT;
	padding: 5px 10px 5px 10px !IMPORTANT;
}

.qtip .qtip-title, .qtip .qtip-content{
	text-align: center !IMPORTANT;
}

.qtip .qtip-content{
	font-size: 12px;
	padding: 8px;	
}

.qtip .qtip-close .qtip-icon{
	background-position: -42px 0 !IMPORTANT;
}

/*! Design tooltip style */
.qtip-design{
	background-color: #FFFFFF !IMPORTANT;
	border-color: #FFFFFF !IMPORTANT;
	color: #000000 !IMPORTANT;
}

.qtip-design .qtip-titlebar{
	background-color: #0096FF !IMPORTANT;
}

/*! Development tooltip style */
.qtip-develop {
	background-color: #FFFFFF !IMPORTANT;
	border-color: #FFFFFF !IMPORTANT;
	color: #000000 !IMPORTANT;
}

.qtip-develop .qtip-titlebar{
	background-color: #47A911 !IMPORTANT;
}

/*! Data tooltip style */
.qtip-data {
    background-color: #FFFFFF !IMPORTANT;
    border-color: #FFFFFF !IMPORTANT;
    color: #000000 !IMPORTANT;
}

.qtip-data .qtip-titlebar{
    background-color: #FF8A00 !IMPORTANT;
}
