#communityDetailsContent #whatsHappening {
	background-color:#fff;
}

#banner.design{
    background: url(@@cdn/i/bg-slide-sprite.jpg) 0 0 repeat-x;
}
    #banner.design .inner{
       background:  url(@@cdn/i/bg-slide.jpg) 50% 0 no-repeat;
	}
    #banner.design .inner .container{
        background: url(@@cdn/i/banner-2.png) 50% 0 no-repeat;
	}

#banner.develop{
    background: url(@@cdn/i/bg-banner-sprite-develop.png) 0 0 repeat-x;
}
    #banner.develop .inner{
       background:  url(@@cdn/i/bg-slide-develop.jpg) 50% 0 no-repeat;
	}
    #banner.develop .inner .container{
        background: url(@@cdn/i/banner-3.png) 50% 0 no-repeat;
	}

#banner.algorithm{
    background: url(@@cdn/i/bg-banner-sprite-data.png) 0 0 repeat-x;
}
    #banner.algorithm .inner{
       background:  url(@@cdn/i/bg-slide-data.jpg) 50% 0 no-repeat;
	}
    #banner.algorithm .inner .container{
        background: url(@@cdn/i/banner-4.png) 50% 0 no-repeat;
	}

.pageContent h1,.pageContent h2,.pageContent h3,.pageContent h4,.pageContent h5,.pageContent h6,.pageContent h7 {
	color:#333333;
}
.pageContent p {
	margin-bottom:20px;
}

.starsOfMonthWrapper {
	background: url(@@cdn/i/stars-of-month-bg.png) 0 0 repeat-x;
	height:354px;
}
	.starsOfMonthInner {
		background: url(@@cdn/i/bg-stars-of-month.jpg) 50% 0 no-repeat;
		height:354px;
		width:1010px;
		margin:0px auto;
	}

	.starsOfMonthWrapper .sectionTitle {
		font-weight:normal;
		font-size:36px;
		color:#333333;
		text-align:center;
		padding:20px 0px;
		clear:both;
	}

.starItem {
	float:left;
    width: 320px;
    height: 208px;
	margin-left:25px;
	float:left;
}
.starsOfMonthInner .first {
	margin-left:0px;
}
.starItem .starTitle {
	float:left;
	clear:both;
	min-width: 115px;
    height: 15px;
	border-radius: 7px 7px 0px 0px;
	background: #00aeff;
	padding:10px;
	color:#fff;
}
.starItem .starContent{
	width: 320px;
    height: 208px;
    background: #f3f3f3;
    float:left;
    right: 0;
    top: 81px;
    border-top: 4px solid #0096FF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
    .starItem .details{
        position: relative;
    }
    .starItem .details .userPicture{
        float: left;
        margin: 20px 0 0 20px;
        width: 120px;
        height: 120px;
        border-radius: 68px;
        border: 2px solid #D2D2D2;
        overflow: hidden;
        behavior: url(./wp-content/themes/tcs-responsive/css/PIE.htc);
        text-align: center;
}
    .starItem .details .userPicture img{
        width: 120px;

        background: #ccc;
}
    .starItem .details .userDetailsCommunity{
        margin-left: 174px;
        min-height: 154px;
        padding-top: 14px;
}
    .starItem .details .userDetailsCommunity p{
        line-height: 24px;
    }
    .starItem .userDetailsCommunity .coder{
        font-size: 18px;
        line-height: 20px;
    }
	.starItem .userHandle {
		font-size:18px;
		color:#3399cc;
	}
    .starItem .userDetailsCommunity .coder:hover{
        text-decoration: underline;
    }
    .starItem .details .userDetailsCommunity .userCountry{
        letter-spacing: 1px;
    }
    .starItem .details .userDetailsCommunity .lbl{
        color: #999;
        font-size: 12px;
        letter-spacing: 1px;
        padding-top: 6px;

        line-height: 20px;
}
    .starItem .details .userDetailsCommunity .val{
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 24px;

        font-weight: bold;
	}

.develop .starItem .starTitle {
	background: #75d30d;
}
.develop .starItem .starContent{
    border-top: 4px solid #75d30d;
}
.develop .starItem .userHandle {
	color:#52ac09;
}

.algorithm .starItem .starTitle {
	background: #ffae00;
}
.algorithm .starItem .starContent{
    border-top: 4px solid #ffae00;
}
.algorithm .starItem .userHandle {
	color:#ffae00;
}


#sloganSection .title {
	padding-bottom:20px;
	text-align:center;
}
#sloganSection .slogan {
	text-align:center;
	font-size:20px;
	color:#666666;
	line-height:32px;
	width:555px;
	margin:0px auto;
}
#sloganSection {
	padding:30px 0px;
	background: url(@@cdn/i/shadow-top.jpg) 50% 0 no-repeat;
}

#communityLandingStats {
	background: url(@@cdn/i/shadow-top.jpg) 50% 100% no-repeat;
	padding-bottom:20px;
}

#communityLandingContent {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	line-height:22px;
	margin-bottom:20px;
	font-size:12px;
}

@media (max-width: 1019px) {
    #banner.design .inner .container{
        background: none;
	}
    #banner.develop .inner .container{
        background: none;
	}
    #banner.algorithm .inner .container{
        background: none;
	}

	.starsOfMonthWrapper {
		background: url(@@cdn/i/stars-of-month-bg.png) 0 0 repeat;
		height:auto;
		min-height:354px;
	}
	.starsOfMonthInner {
		background: none;
		min-width:0px;
		width:auto;
		height:auto;
		margin:0px auto;
		padding-bottom:40px;
	}

	.starItem {
		float:none;
		margin:0px auto;
		margin-top:20px;
		overflow:hidden;
	}

	.starsOfMonthInner .first {
		margin-left:auto;
	}

	.starItem .starTitle {
		min-width: 0px;
		width:auto;
		margin:0px auto;
	}

}
.header-container {
    background: #fff;
    box-shadow: 0 1px 3px #D1D3D4;
		padding: 10px 120px;
}
.header-container header h1 {
    font-size: 32px;
		font-weight: 700;
    line-height: 38px;
    padding: 15px 0;
    margin: 10px 0 0;
    overflow: hidden;
    text-align: left;
}
.header-container .statistics, .header-container .statistics .ilb {
	display: inline-block;
}
.header-container .statistics {
	float: right;
}
.header-container .statistics p {
	padding-bottom: 0;
	text-align: center;
}
.header-container .statistics .val {
	font-size: 32px;
	line-height: 38px;
	font-family: "Sofia Pro";
	font-weight: 400;
	color: #3d3d3d;
}
.header-container .statistics .lbl {
	font-size: 12px;
	line-height: 14px;
	color: #a3a3ae;
}
.dataTable.challenges {
	background: #fff;
}
@media (min-width: 1020px) {
	.grid-3-3 .grid-2-3 {
	    width: calc( 100% - 360px);
	    float: left;
	}
}
