.my-dashboard-container {
    width: 100%;
    border: 1px solid;
    height: 1037px;
}

.my-dashboard-column-left {
    width: 45%;
    float: left;
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 10px;
}

.my-dashboard-column-right {
    width: 45%;
    float: right;
    margin-right: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

.my-dashboard-widget {
    border: 1px solid;
    width: 100%;
    margin-top: 5px;
}

.welcome-back {
    height: 200px;
}

.marketing-message {
    height: 150px;
    border: none;
}

.marketing-message-iframe {
    margin-left: -5px;
    margin-top: -8px;
}

.member-program {
    height: 292px;
}

.member-program-content {
    margin-left: 6px;
}

.member-program-content h1,
.member-program-content h2,
.member-program-content h3,
.member-program-content h4,
.member-program-content p {
    margin-top: 5px;
}

.my-challenges {
    height: 550px;
}

.my-challenges-table td {
    padding-left: 5px;
}

.my-challenges-table thead {
    font-weight: bold;
}

.my-challenges-submittion-date {
    width: 90px;
}

.helpful-links {
    height: 200px;
}

.blog-post {
    height: 300px;
}

.srm-gadget {
    height: 300px;
}

.srm-gadget-table td {
    padding-left: 5px;
}

.srm-gadget-table thead {
    font-weight: bold;
}

.srm-gadget-coding-date {
    width: 170px;
}

.upcoming-srms-div {
    position: relative;
    height: 100%;
}

.practice-now-div {
    position: absolute;
    bottom: 0;
}
