.my-dashboard-container {
    width: 100%;
}

.my-dashboard-container .color-reset {
    color: initial;
}

.my-dashboard-container .widget-loading {
  width: 100%;
  height: 50px;
  background: url("../i/loading.gif") no-repeat center center;
}

.my-dashboard-column-left {
    width: 20%;
    float: left;
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 10px;
}

.my-dashboard-column-right {
    width: 70%;
    float: right;
    margin-right: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

.my-dashboard-widget {
  margin-bottom: 30px;
  color: #666;
}

.widget {
  border: 1px solid rgb(207,207,207);
  border-radius: 5px;
}

.tc-pager {

}

.page-link {
  margin-right: 5px;
}

.marketing-message {
    max-height: 150px;
    border: none;
}

.marketing-message-iframe {
    margin-left: -5px;
    margin-top: -8px;
}

.blog-post {
    /*height: 300px;*/
    /*overflow: scroll;*/
}

.blog-post .post {
  border-bottom: 1px solid rgb(207,207,207);
}

.blog-post .post:last-child {
  border: none;
}

.blog-post a {
  color: #666;
  box-sizing: border-box;
}

.blog-post a:hover {
  color: #FFB800;
}

.srm-gadget {
}

.srm-gadget-table td {
    padding-left: 5px;
}

.srm-gadget-table thead {
  font-weight: bold;
  border: 1px solid rgb(207,207,207);
}

.srm-gadget-coding-date {
    width: 170px;
}

.upcoming-srms-div {
    position: relative;
    height: 100%;
}

.practice-now-div {
    position: absolute;
    bottom: 0;
}

.member-profile-header {
  border-bottom: 7px solid #000;
  background-image: url('../i/community-background.png');
  background-size: cover;
  background-position: 50% 50%;
  color: #fff;
}

.member-profile {
}

.member-profile .profile-left {
  /*width: 140px;*/
}

.member-profile .profile-right {
  /* workaround to vertical align middle */
  padding-top: 46px;
}

.member-profile .profile-image {
  width: 130px;
  text-align: center;
  height: 130px;
  border: 5px solid white;
  border-radius: 72px;
  overflow: hidden;
  margin: auto;
}

.member-profile .profile-left .handle {
  color: white;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
}

.member-profile .profile-left .doj {
  /*color: rgb(91, 91, 91);*/
  text-align: center;
  margin-top: 20px;
}

.member-profile .profile-bio {
  /*color: rgb(91, 91, 91);*/
  height: 100px;
  text-align: right;
  direction: ltr;
}

.member-profile .money-in-bank {
  height: 82px;
  text-align: center;
  padding-top: 16px;
  box-sizing: border-box;
  display: inline-block;
}

.member-profile .money-in-bank div[rel="value"] {
  /*font-weight: bold;*/
  font-size: 35px;
  /*color: #05619b;*/
}

.member-profile .money-in-bank div[rel="label"] {
  margin-top: 30px;
  font-weight: bold;
}

.member-profile .challenges-registered {
  height: 82px;
  text-align: center;
  padding-top: 16px;
  box-sizing: border-box;
}

.member-profile .open-challenges {
  height: 82px;
  text-align: center;
  padding-top: 16px;
  box-sizing: border-box;
}

.member-profile .open-challenges div[rel="value"] {
  /*font-weight: bold;*/
  font-size: 35px;
  /*color: #71be0a;*/
}

.member-profile .open-challenges div[rel="label"] {
  margin-top: 30px;
  font-weight: bold;
}

.member-profile .review-opportunities {
  height: 75px;
  text-align: center;
  padding-top: 16px;
  box-sizing: border-box;
}

.member-profile .review-opportunities div[rel="value"] {
  /*font-weight: bold;*/
  font-size: 35px;
  /*color: #e7820b;*/
}

.member-profile .review-opportunities div[rel="label"] {
  margin-top: 30px;
  font-weight: bold;
}

.member-program {
}

.member-program-content {
}

.member-program-content .panel-body {
    /*background: -webkit-linear-gradient(360deg, rgb(15, 16, 31), rgb(101,220,85), rgb(164, 13, 62));*/
    height: 377px;
    /*margin-left: 50px;*/
    overflow: hidden;
    background: url('../i/swift_background_hpattern.jpg') repeat-x center center;
    color: #eeeeee;
}

.member-program-content .display-image {
  height: 260px;
  background-color: white;
  float: left;
  width: 20%;
  margin: 20px;
  display: none;
}

.member-program-content .description {
  /*float: left;
  width: 50%;*/
}

.member-program-content .signup {
  color: white;
  margin-top: 20px;
}

.member-program-content *[rel="badges"] {

}

.member-program-content *[rel="badges"] *[rel="badge"] div[rel="image"] {
  min-width: 30px;
  min-height: 30px;
  background-size: cover;
}

.member-program-content *[rel="badges"] *[rel="badge"].badge1 div[rel="image"] {
  background-image: url("../i/member-program/get-ready-48.png");
  background-repeat: no-repeat;
}

.member-program-content *[rel="badges"] *[rel="badge"].badge2 div[rel="image"] {
  background-image: url("../i/member-program/step-one-48.png");
  background-repeat: no-repeat;
}

.member-program-content *[rel="badges"] *[rel="badge"].badge3 div[rel="image"] {
  background-image: url("../i/member-program/getting-ready-48.png");
  background-repeat: no-repeat;
}

.member-program-content *[rel="badges"] *[rel="badge"].badge4 div[rel="image"] {
  background-image: url("../i/member-program/on-starting-line-48.png");
  background-repeat: no-repeat;
}

.member-program-content *[rel="badges"] *[rel="badge"].badge5 div[rel="image"] {
  background-image: url("../i/member-program/break-the-finish-48.png");
  background-repeat: no-repeat;
}

.member-program-content *[rel="badges"] *[rel="badge"].badge6 div[rel="image"] {
  background-image: url("../i/member-program/get-certified-48.png");
  background-repeat: no-repeat;
}

.member-program-content *[rel="badges"] *[rel="badge"] div[rel="name"] {
  margin-top: 5px;
  margin-left: 5px;
}

.member-program-content *[rel="badges"] *[rel="badge-status"] {
  padding-left: 20px;
  margin-top: 5px;
}

.member-program-content *[rel="badges"] *[rel="badge-status"].pending {
  background: url("../i/check-box.png") no-repeat 0 0px;
}

.member-program-content *[rel="badges"] *[rel="badge-status"].completed {
  background: url("../i/check-box.png") no-repeat 0 -20px;
}

.member-program-content .nextstep {
  color: white;
  margin-top: 20px;
}

.helpful-links {

}

.helpful-links ul > li {
  border-bottom: 1px solid rgb(207,207,207);
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
.helpful-links ul > li > a {
  color: #666;
  padding: inherit;
  line-height: inherit;
}

.helpful-links ul > li > a:hover,
.helpful-links ul > li > a:focus,
.helpful-links .nav .open>a,
.helpful-links .nav .open>a:hover,
.helpful-links .nav .open>a:focus {
  color: #FFB800;
  background-color: inherit;
}

.helpful-links ul > li:last-child {
  border: none;
}

.my-challenges {
  /*max-height: 550px;*/
  min-height: 50px;
}

.my-challenges .challenges-header {
  margin-bottom: 20px;
}

.my-challenges .develop {
  background: url("../i/ico-track-develop.png") no-repeat center center;
}

.my-challenges .design {
  background: url("../i/ico-track-design.png") no-repeat center center;
}

.my-challenges th {
  text-align: center;
}

.my-challenges table > tbody> tr > td {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.my-challenges td[rel="roles"] {
  max-width: 150px;
}

.my-challenges td[rel="challenge-name"] {
  text-align: left;
}

.my-challenges td[rel="challenge-name"] > a {
  color: #666;
}

.my-challenges td[rel="challenge-name"] > a:hover {
  color: #FFB800;
}

.upcoming-srms-div {
    position: relative;
    height: 100%;
}

.upcoming-srms-div .upcoming-srms-header {
  margin-bottom: 20px;
}

.upcoming-srms-div .srm-gadget {
  max-height: 300px;
}

.upcoming-srms-div th {
  text-align: center;
}

.upcoming-srms-div table > tbody> tr > td {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.upcoming-srms-div td[rel="practice-now-link"] {
  text-align: left;
}

.upcoming-srms-div td[rel="srm-name"] > a {
  color: #666;
}

.upcoming-srms-div td[rel="srm-name"] > a:hover {
  color: #FFB800;
}

.upcoming-srms-div .srm-gadget-coding-date {
    width: 170px;
}

.subscribe-updates input[type="text"] {
  color: #333!important;
  background: #fafafa;
  border: 1px solid #e1e1e1;
  height: 32px;
  line-height: 16px;
  box-sizing: border-box;
  width: 100%;
}