/* Mobile View Fix */
@media (max-width: 1019px) {
	.hideOnMobile, .contestGrid .contest .hideOnMobile {
		display:none;
	}
	.container, body, #wrapper {
		min-width: 0px !important;
		width:auto;
	}
	
	.contestGrid.alt .contest {
		min-width: 0px !important;
		width: auto;
	}
	.layChallenges .actions, .layChallenges header, .layChallenges .challengeType{
		border:none;
		padding-top:0px;
	}

	.layChallenges .actions .rt {
		border:none;
		padding-top:10px;
		padding-right:10px;
	}

	#hero .container {
		margin:0px;
	}
	#hero .track {
		width:32%;
		margin:0px;
	}
	#hero .track a {
		width:auto;
	}
	.contestGrid .contest {
		width:auto;
	}
}
