<div class="subTrackTabs">
	<nav class="tabNav">
		<h3 ng-if=" !dataCtrl.dataLoaded || dataCtrl.emptyFlag">Develop</h3>
		<ul  ng-if="dataCtrl.dataLoaded">
			<li ng-repeat="(name, value) in stats.Tracks"><a ng-click="setSubTrack(name)" ng-class="{isActive : subTrack === name}" ng-bind="name|| 'loading...'">loading...</a></li>
		</ul>
	</nav>

	<div ui-view="summary"  ng-if="dataCtrl.dataLoaded"></div>

	<div class="ratingViews" ng-if="dataCtrl.dataLoaded && !dataCtrl.emptyFlag">
		<div ui-view="details"></div>
	</div>
	<!-- /.ratingViews -->

	<div class="noParticipation" ng-if="!dataCtrl.dataLoaded">
		<div class="loadingPlaceholder2"></div>
	</div>
</div>
