<a ng-href={{tcCoderbitsItem.link}}><h4 class='cb-social-heading'  ng-style="{'background-image': 'url(https://'+apiHost+'/'+tcCoderbitsItem.external_account.image_link+')'}">{{tcCoderbitsItem.name}}</h4></a>
<span>
	{{tcCoderbitsItem.description}}<br/>
</span>
Completed {{tcCoderbitsItem.completed |   timeSince: 'sometime in the past'}} on <a ng-href='{{tcCoderbitsItem.external_account.link}}'>{{tcCoderbitsItem.external_account.friendly_name}}</a>
<br/>
<div class='tc-attr'>
	<b>{{tcCoderbitsItem.skill}}</b>
	<span>Challenge Category</span>
</div>