<div style='float: left'>
	<h4>{{tcCoderbitsItem.name}}</h4>
Has earned {{tcCoderbitsItem.count}} points from 
<ng-pluralize count="tcCoderbitsItem.account_count"
                 when="{'0': ' nowhere.',
                     'one': ' one account.',
                     'other': ' {} accounts.'}">
</ng-pluralize>
</div>
<ul class="animate-repeat" ng-repeat="account in tcCoderbitsItem.external_accounts">
	<li style='float: right; margin-right: 3px;'>
		<a target="_blank" ng-href='{{account.link}}'><div class='img-container'><img ng-src="{{apiHost}}/{{account.image_link}}" style='width: 32px; height: 32px;' /></div></a>
	</li>
</ul>
<div style='clear: both'></div>