
<div class="chartTypeSwitcher">
	<a class="btn btnHistory" ng-click="showHist()" ng-class="{ isActive : showAsHist && !showAsTable }">Rating History</a>
	<a class="btn btnDist" ng-click="showDist()" ng-class="{ isActive : showAsDist && !showAsTable }">Rating Distribution</a>
	<a class="btn btnSub" ng-click="isTable=true;history=false;showTable(true);"  ng-class="{ isActive : showAsTable }">Statistics</a>
</div>
<div class='tableContainer'>
	<div id="tabularView" ng-if="showAsTable">
		<div class="ngRatingTableCaption">Statistics</div>
		<div class="ngRatingTable dev" ng-grid="gridOptions"></div>
	</div>
	<!-- /#tabularView -->
	<div id="graphView" ng-if="!showAsTable">
		<div class="subTrackTabs">
			<div class="srm subTrackTab">
				<div class="chartWrap" ng-init="history = true;" >
					<div class="ratingChart ngHide" id="history_chart" ng-show="showAsHist" tc-draw-history></div>
					<div class="ratingChart ngHide" id="distribution_chart" ng-show="showAsDist" tc-draw-distribution></div>
				</div>
			</div>
		</div>
		<!-- /.subTrackTabs -->
	</div>
</div>
<!-- /#graphView -->