
.filterOpts .tags {
    margin-top: 10px;
    margin-left: 428px;
    color: #666666;
}

.filterOpts .tags .customSelect {
    display: none;
}

.filterOpts .tags .chosen-select,
.filterOpts .tags .chosen-container {
    width: 455px;
}

/* --- multiple select --- */
.chosen-container-active .chosen-choices {
    border-color: #acacac;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    display: none;
}

.chosen-container-multi .chosen-choices li.search-choice {
    margin: 4px 0px 3px 4px;
    padding: 2px 5px;
    border: none;
    background: #e7e7e7;
}

.chosen-container .chosen-results li span,
.chosen-container .chosen-choices li span {
    color: #666666;
    font-size: 12px;
}

.chosen-container .chosen-results li.highlighted {
    background: #FF7A00;
}

.chosen-container .chosen-drop,
.chosen-container-multi .chosen-choices {
    width: 325px !important;
}

.chosen-container-multi .chosen-choices li.search-field {
    width: auto;
    display: inline;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"]  {
    width: auto !important;
}

.chosen-container-single .chosen-single {
    display: none;
}

/* --- contest grid --- */
.contestGrid .contest {
    height: auto;
    min-height: 175px;
    padding-bottom: 83px;
}

/* --- tco table --- */
.layChallenges .tcoTable td.colCh,
.layChallenges .tcoTable td.colTime {
    vertical-align: top;
    padding-top: 15px;
    padding-bottom: 15px;
}

.dataTable.tcoTable tr.inTCO.hasTCOIco td {
    height: 110px;
}

.tcoTable tr.inTCO.hasTCOIco .colCh a {
    min-height: 20px;
}

/* --- technology tags --- */
.technologyTags {
    margin-top: 10px;
    padding-left: 65px;
    font-size: 12px;
}

#platforms .technologyTags {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 0px;
}

#technologies .technologyTags {
    margin-top: 15px;
    margin-bottom: 10px;
    padding-left: 0px;
}

.contestGrid .technologyTags {
    padding-left: 65px;
}

.viewTab .technologyTags ul li {
    float: left;
    display: inline-block;
    background-image: none;
    padding: 0px;
    margin: 2px;
}

.challenge-detail .tableWrap .technologyTags ul li {
    float: left;
    display: inline-block;
    background-image: none;
    padding: 0px;
    margin: 2px;
}

.technologyTags span {
    color: #666666;
    font-size: 12px;
    margin: 0px;
    padding: 1px 5px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: #e7e7e7;
}

/* Remove when platform API is complete */
.tags {
    display: none !important;
}

