/*Page Logo*/
#navigation .container h1.logo{
    background: url(../i/logo.png) 0 0 no-repeat;
}
/*Menu Workaround for < ie9 */
.opaque {
    filter:alpha(opacity=100);
}
/*Form styling*/
#mainContent input[type="email"], #mainContent input[type="number"], #mainContent input[type="password"], #mainContent input[type="tel"], #mainContent input[type="url"], #mainContent input[type="text"]{
  color: rgb(51, 51, 51)!important;/*need important to override inline css styles set in wordpress data for contact us page which try to set color to an unreadable silver*/
  background: #fafafa;
  border: 1px solid #e1e1e1;
  height: 22px;
  line-height: 16px;
}
#mainContent textarea {
  color: rgb(51, 51, 51);
  padding:6px;
  margin: 0;    
  border-radius: 4px;
  background: #fafafa;
  border: 1px solid #e1e1e1;
}
/*About Us page*/
.pageView #mainContent{
    background:none;
}
.pageView .pageInfo{
    font-size: 18px;
    color: #fff;
    line-height: 18px;
    text-align: center;
    padding: 20px 135px 22px;
    position: relative;
    line-height: 24px;
    margin: 0 0 27px 0;
    background: #17A6D6 url(../i/shadow.png) 50% 0 no-repeat;
} 
    .pageView .pageInfo .point{
        width: 33px;
        height: 17px;
        position: absolute;
        left: 50%;
        margin-left: -16px;
        bottom: -17px;
        background: url(../i/point.png) no-repeat;
        z-index: 1;
}
    .pageView .pageInfo.imgDataLayout{
        display: block;    
        padding: 38px 0 0;
    }
        .pageView .pageInfo.imgDataLayout .imgWrap{
            display:none;
        }
        .pageView .pageInfo.imgDataLayout h2{
            color: #fff;
            font-size: 20px;
            padding-bottom: 10px;
        }
        .pageView .pageInfo.imgDataLayout .info{
            font-size: 14px;
            line-height: 24px;
            text-align: left;
            padding-bottom: 26px;
        }
        .pageView .pageInfo.imgDataLayout .info p{
            margin-bottom: 24px;
        }
    .pageView .pageHeading h1{
        color: #474747;
        font-size: 25px;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
        margin-top: 0; 
        margin-bottom: 12px;
        padding-top: 99px;
        padding-left: 0;
        background: url(../i/ico-pages.png) no-repeat scroll  50% -75px;
        line-height: 28px;
        min-height: 28px;
    }

.pageView .teamView{
    display: block;
    clear:both;
    position:relative;
}
    .pageView .teamView h2{
        color: #0071bc;
        font-size: 20px;
        text-align: center;
        border-bottom: 1px solid #E7E7E7;
        padding-bottom: 15px;
    }
    .pageView .teamView .members {
        display: block;
        overflow: hidden;
        position: relative;
        height: 605px;
        width: auto;
        margin: 0 auto;
    }
        .pageView .teamView .members .member {
            float: none;
            width: auto;
            height: 124px;
            padding: 0;
            text-align: left;
            margin-top: 25px;
            position: relative;
            padding-left: 136px;
        }
            .pageView .teamView .members .member img {
                float: left;
                display: block;
                height: 122px;
                width: 122px;
                border-radius: 75px;
                border: 1px solid #dadcdc;
                margin: 0 0 11px;
                position: absolute;
                left: 0;
                top: 0;
            }
            .pageView .teamView .members .member .name{
                font-size: 18px;
                color: #0071bc;        
                display: inline-block;
                padding-bottom: 4px;
                margin-top: 44px;
            }
            .pageView .teamView .members .member .name:hover{
                color: #40A6EB;
            }
            .pageView .teamView .members .member .designation{
                color: #666666;
            }
    .pageView .teamView .actions {
        width: 100%;
        text-align:center;
        border-top:1px solid #dadcdc;
        margin-top:20px;
        margin-bottom:24px;
        padding-top:9px;
        position:relative;
    }
        .pageView .teamView .actions a{
            width:100px;
        }

/* Contact Us Page */
.contact .contactInfo{
    font-size: 18px;
    color: #fff;
    line-height: 18px;
    text-align: center; 
    position: relative;
    line-height: 24px;
    margin: 0 0 27px 0; 
    background: #17A6D6 url(../i/shadow.png) 50% 0 no-repeat;
} 
    .contact .contactInfo .point{
        width: 33px;
        height: 17px;
        position: absolute;
        left: 50%;
        margin-left: -16px;
        bottom: -17px; 
        background: url(../i/point.png) no-repeat;
        z-index: 1;
} 
    .contact .pageHeading h1{
        font-size: 35px;
        font-weight: normal;
        color: #474747;
        text-transform: uppercase;
        padding-top: 25px;
        padding-left: 74px;
        min-height: 64px;
        line-height: 64px;
        background: url(../i/ico-cs.png) 0 25px no-repeat;
        margin-bottom: 25px; 
    }

.contact #hero{
    padding-bottom: 18px;
}
    .contact #hero .container{
        padding: 20px 0 22px;
        min-height:128px;
        width: auto;
        margin: 0 10px;
    }    
    .contact #hero .tracksInfo{
        padding-top: 0;
    }
        .contact #hero .tracksInfo .trackInfo{   
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
            cursor: pointer;
            -moz-transition-duration: .3s; -webkit-transition-duration: .3s; transition-duration: .3s;
            margin-left: 0;
            margin-right: 0;
        }
        .contact #hero .tracksInfo .trackInfo:hover{
            background: #D7F5FF;
        }
            .contact #hero .tracksInfo .trackInfo i {
                height: 89px;
                width: 89px;
                position: absolute;
                left: 13px;
                top: 13px;
                background: url(../i/ico-contact.png) no-repeat;
                background-position: 0 0;
            }
            .contact #hero .tracksInfo .trackInfo.visitHelp i{
                background-position: 0 -150px;
            }
            .contact #hero .tracksInfo .trackInfo.support i{
                background-position: 0 -300px;
            }
        .contact .grid .grid-3-1 {
            margin:0;
            margin-left: 25px;
        }

.contactForm{
    width: 408px;
    margin: 0 auto;
}
    .contactForm .row {
        margin-bottom: 20px;
    }
    .contactForm .row label{
        display: inline-block;
        padding-bottom: 5px;   
        text-indent: 4px;
    }
    .contactForm .row .val input{
        width: 394px;
        background: #fff;
        border: 1px solid #e1e3e3;
        height: 18px;
        line-height: 18px;
    }
    .contactForm .textarea{
        padding: 5px;
        margin: 0;
        border: 1px solid #e1e3e3;
        border-radius: 4px;
        width: 396px;
        height: 128px;
    }
    .contactForm .action{
        text-align: center;
        position:relative;
    }
        .contactForm .action .btn{
            width: 100px;
            position:relative;
        }
    
.contactForm .errormsg,
.contactForm .error{
    color: #f00;
}
.contactForm .row.error .val input,
.contactForm .row.error .val .textarea{
    color: #f00;
    border-color: #f00;
}

.descBox{
	display:none;
}

.descBox p{
	margin-bottom:10px;
}

.activeBox{
	display:block;
}

/* Media Queries */
@media screen and (min-width: 1020px) {
/*Page Logo*/

#navigation .container h1.logo{
    background: url(../i/logo.png) 0 0 no-repeat
}
/* About Us Page */
    .pageView .pageHeading h1{
        font-size: 35px;
        text-align:left;
        padding: 0;
        padding-left: 74px;
        margin: 25px 0; 
        min-height: 64px;
        line-height: 64px;
        background-position: 0 -100px;
    }
    
    .pageView .pageInfo.imgDataLayout .imgWrap{
        width: 555px;
        min-height: 312px; 
        float: left;
        display:block;
    }
        .pageView .pageInfo.imgDataLayout .imgWrap img{
            max-height: 312px;
            max-width: 555px;
        }
            .pageView .pageInfo.imgDataLayout .imgWrap a {
                display:block;
                height: 312px;
                width: 555px;
                background:url(../i/img-aus.png);
            }
    .pageView .pageInfo.imgDataLayout .info{
        margin-left: 582px;
        padding-bottom: 30px;
        min-height: 318px;
    }
        .pageView .pageInfo.imgDataLayout .info h2{
            font-size:30px;
        }
    
    .pageView .teamView h2{
        font-size: 30px;
        border-bottom: 0;
        padding-bottom: 0;
    }
    .pageView .teamView .members{
        width: 825px;
        height: auto;
    }
        .pageView .teamView .members .member{
                float: left;
                width: 150px;
                height: 200px;
                padding: 0 62px;
                text-align: center;    
        }
            .pageView .teamView .members .member img{
                position: relative;
            }
            .pageView .teamView .members .member .name {
                padding-bottom: 8px;
                margin-top: 0;
            }
    .pageView .teamView .actions {
        display: none;
    }
            
/* Contact Us Page */
    .contact #hero .container{
        width: 1011px;
        margin: 0 auto;
        min-height:60px;
    }
        .contact #hero .tracksInfo .trackInfo{   
            margin-left: 25px;
        }
        .contact #hero .tracksInfo .trackInfo#register{   
            margin-left: 0;
        }

}

/* Issue ID: I-104523 - style for validation message in contact-us page */
form span.err1,
form span.err2 {
    margin-left: 14px;
    color: #c00;
}

#mainContent textarea[name="description"].invalid,
#mainContent #first_name.invalid,
#mainContent #last_name.invalid,
#mainContent #email.invalid {
	background: #ffedee;
	border: 1px solid #c00;
}

form span.valid {
	background: transparent url(../i/validation-tick.png) no-repeat left center;	
	min-width: 18px;
	height: 18px;
	padding-left: 27px;
	margin-left: 14px;
	vertical-align: middle;
	color: #7abd00;
}

@media screen and (max-width: 1019px) {
    #navigation .container h1.logo{
        background: url(../i/logo.png) 0 0 no-repeat;
        width: 150px;
        background-size: 100%;
    }
}