<h3>Downloads:</h3>
<div class="inner">
  <ul class="downloadDocumentList">
    <li ng-if="CD.challenge.Documents.length && CD.allowDownloads && CD.isRegistered" ng-repeat="document in CD.challenge.Documents">
      <a ng-href="{{document.url}}">{{document.documentName}}</a>
    </li>
    <li ng-if="CD.challenge.Documents.length && CD.allowDownloads && CD.isLoggedIn && !CD.isRegistered">
      <strong>Register to Download Files</strong>
    </li>
    <li ng-if="CD.challenge.Documents.length && CD.allowDownloads && !CD.isLoggedIn">
      <strong>Log In and Register to Download Files</strong>
    </li>
    <li ng-if="CD.challenge.Documents.length && !CD.allowDownloads">
      <strong>Downloads are not available for this challenge</strong>
    </li>
    <li ng-if="!CD.challenge.Documents.length">
      <strong>None</strong>
    </li>
  </ul>
</div>
