<div rel="next-step">
	<div rel="next-step-description">
    <div rel="title" ng-bind="CD.phaseProgram.nextStepTitle"></div>
    <div rel="description" ng-bind="CD.phaseProgram.nextStepDescription" class="margin-top-2x"></div>
    <div rel="action" ng-bind="CD.phaseProgram.nextStepAction" class="margin-top-2x"></div>
  </div>
  <div rel="badge">
    <h5 rel="title" class="center-align-text">Recognition Award</h5>
  	<img ng-src="{{CD.phaseProgram.nextBadgeImg}}" alt="{{CD.phaseProgram.nextBadgeTitle}}" />
  </div>
  <div class="clear"></div>
</div>