<div class="submissionSingleView studio" ng-show="subCtrl.singleViewMode">

  <!-- /.informationViewSlider -->

  <div class="informationView">
    <div class="basicInfo">
      <span class="meataAction">
        <span class="metaDate" ng-bind="subCtrl.singleViewSubmission.formattedDate"></span>
        <span ng-bind="'Views ' + subCtrl.singleViewSubmission.viewCounter"></span>&nbsp;&nbsp;
        <a ng-href="{{subCtrl.singleViewSubmission.downloadUrl}}" class="download" ng-bind="'Downloads ' + subCtrl.singleViewSubmission.downloadCounter"></a>
        <a href="javascript:;" class="back btn btnAlt" ng-click="subCtrl.singleViewMode = false" >Back</a>
      </span>
      <span class="subNum" ng-bind=" '#' + subCtrl.singleViewSubmission.submissionId"></span>
      <a ng-href="/member-profile/{{subCtrl.singleViewSubmission.submitter}}/design" class="handle coderTextOrange" ng-bind="subCtrl.singleViewSubmission.submitter"></a>
    </div>
    <!-- /.basicInfo -->
  </div>
  <!-- /.informationView -->

  <div class="clear"></div>

  <div class="submissionShowcase">
    <div class="scrollPane" tc-scroll-pane>
      <ul class="submissionShowcaseList">
        <li ng-repeat="link in subCtrl.singleViewSubmission.previewList"><a href="javascript:;" ng-class="{'active' : $index === subCtrl.selectedPreview}" ng-click="subCtrl.selectPreview($index)"><img ng-src="{{link}}" alt="" style=" width : 191px; height : 154px; "/></a></li>
      </ul>
    </div>
    <div class="submissionBig">
      <img ng-repeat="link in subCtrl.singleViewSubmission.fullPreviewList" ng-src="{{link}}" alt="" style=" width : 738px; height : 592px; " ng-show="$index === subCtrl.selectedPreview"/>
      <p><a href="javascript:;" class="btn btnAlt fullScreenBtn" tc-full-screen>FULL SCREEN</a></p>
    </div>
    <div class="clear"></div>
  </div>
  <!-- /.submissionShowcase -->
</div>
<!-- /.submissionSingleView -->