/* ie 7/8 css */
body{
 min-width: 1024px;
}
.userWidget{
	top: 81px;
	box-shadow: 0 1px 3px #ccc;
	behavior: url(./wp-content/themes/tcs-responsive/css/PIE.htc);
}
#navigation{
	box-shadow: 0 2px 3px #aaa;
	behavior: url(./wp-content/themes/tcs-responsive/css/PIE.htc);
}
#hero .trackInfo{
	box-shadow: 0 1px 1px #888;
	behavior: url(./wp-content/themes/tcs-responsive/css/PIE.htc);
}
.teamView .members .member img {
    border:0;
}
.btn, a.btn {
    border-radius:6px;
    behavior: url("/css/PIE.htc");

}
.ie7 #whatsHappening .slider .bx-pager{
	padding-left: 100px;
}
.onMobi {
	display: none !important;
}

#wrapper {
   overflow-x: hidden;
    
}
.dataTable .colCh a:hover i{
    box-shadow: none;
}
#mainContent.splitLayout{
   overflow: hidden; 
}
