@@header


<div id="cdNgMain" ng-init="CD.callComplete=false" ng-show="CD.callComplete" class="hide content challenge-detail view-challenge-result {{CD.challengeType != 'design' ? 'develop' : ''}}">
<div id="main">
<div class="cd-wrapper">
  <div ng-include src="getTemplateURL('ng-content-basic-challenge-details.tpl.html')" class="header-container"></div>
  <article id="mainContent" class="splitLayout">
    <div class="container">
      <div id="stepBox">
        <div class="container rightSplit  grid-3-3">

          <div class="leftColumn">
            <a ng-show="!CD.isDesign" ng-click="CD.registerToChallenge()" ng-class="{disabled:CD.challenge.registrationDisabled || !CD.callComplete, disabledNOT:!CD.challenge.registrationDisabled}" class="btn btnAction challengeRegisterBtn" href="javascript:;">
                <span>1</span><strong>Register For This Challenge</strong>
            </a>
            <a ng-show="!CD.isDesign" ng-class="{disabled:CD.challenge.submissionDisabled || !CD.callComplete, disabledNOT:!CD.challenge.submissionDisabled}" class="btn btnAction" target="_blank"
              ng-href="/challenge-details/{{CD.challenge.challengeId}}/submit/?type=develop">
                <span>2</span><strong>Submit Your Entries</strong>
            </a>
            <a ng-show="CD.isDesign" ng-click="CD.registerToChallenge()" ng-class="{disabled:CD.challenge.registrationDisabled || !CD.callComplete, disabledNOT:!CD.challenge.registrationDisabled}" class="btn btnAction challengeRegisterBtn" href="javascript:;">
                <span>1</span> <strong>Register For This Challenge</strong>
            </a>
            <a ng-show="CD.isDesign" ng-class="{disabled:CD.challenge.submissionDisabled || !CD.callComplete, disabledNOT:!CD.challenge.submissionDisabled}" class="btn btnAction" target="_blank"
               ng-href="/challenges/{{CD.challenge.challengeId}}/submit/file">
                <span>2</span> <strong>Submit Your Entries</strong>
            </a>
            <a ng-show="CD.isDesign" ng-class="{disabled:CD.challenge.submissionDisabled || !CD.callComplete, disabledNOT:!CD.challenge.submissionDisabled}" class="btn btnAction" target="_blank"
               ng-href="//studio.{{CD.domain}}/?module=ViewSubmission&ct={{CD.challenge.challengeId}}">
                <span>3</span> <strong>View Your Submission</strong>
            </a>
            <a ng-show="!CD.isDesign && CD.isPeerReviewed" ng-class="{disabled:CD.challenge.peerReviewDisabled || !CD.callComplete, disabledNOT:!CD.challenge.peerReviewDisabled}" class="btn btnAction" ng-href="/challenges/{{CD.challenge.challengeId}}/reviews/" target="_blank">
                <span>3</span><strong>Review This Challenge</strong>
            </a>
          </div>

          <div class="middleColumn member-program-path" ng-show="CD.isPeerReviewed && CD.phaseProgram">
            <div ng-include src="getTemplateURL('ng-content-challenge-topsection.tpl.html')"></div>
          </div>
          <div class="middleColumn {{CD.isDesign ? 'studio' : ''}}" ng-show="!CD.isPeerReviewed">
            <table class="prizeTable">
              <tbody>

                <tr>
                  <td ng-if="!CD.isDesign && CD.challenge.challengeType != 'Code'" class="fifty">
                    <h3>
                      <small>$</small><span ng-bind="CD.challenge.prize ? (CD.challenge.prize[0] ? CD.challenge.prize[0] : '') : ''"></span>
                    </h3>

                    <h2>1st PLACE</h2>
                  </td>
                  <td ng-if="!CD.isDesign && CD.challenge.challengeType != 'Code'" class="fifty">
                    <h3>
                      <small>$</small><span ng-bind="CD.challenge.prize ? (CD.challenge.prize[1] ? CD.challenge.prize[1] : '0') : ''"></span>
                    </h3>

                    <h2>2nd PLACE</h2>
                  </td>
                  <td ng-if="(designOrCode = CD.isDesign || CD.challenge.challengeType == 'Code')" class="twenty {{!(CD.challenge.prize && CD.challenge.prize[0]) ? 'noPrize' : ''}}">
                    <h3>
                      <small>$</small><span ng-bind="(CD.challenge.prize && CD.challenge.prize[0]) || 0"></span>
                    </h3>

                    <h2>1st PLACE</h2>
                  </td>
                  <td ng-if="designOrCode" class="twenty {{!(CD.challenge.prize && CD.challenge.prize[1]) ? 'noPrize' : ''}}">
                    <h3>
                      <small>$</small><span ng-bind="(CD.challenge.prize && CD.challenge.prize[1]) || 0"></span>
                    </h3>

                    <h2>2nd PLACE</h2>
                  </td>
                  <td ng-if="designOrCode" class="twenty {{!(CD.challenge.prize && CD.challenge.prize[2]) ? 'noPrize' : ''}}">
                    <h3>
                      <small>$</small><span ng-bind="(CD.challenge.prize && CD.challenge.prize[2]) || 0"></span>
                    </h3>

                    <h2>3rd PLACE</h2>
                  </td>
                  <td ng-if="designOrCode" class="twenty {{!(CD.challenge.prize && CD.challenge.prize[3]) ? 'noPrize' : ''}}">
                    <h3>
                      <small>$</small><span ng-bind="(CD.challenge.prize && CD.challenge.prize[3]) || 0"></span>
                    </h3>

                    <h2>4th PLACE</h2>
                  </td>
                  <td ng-if="designOrCode" class="twenty {{!(CD.challenge.prize && CD.challenge.prize[4]) ? 'noPrize' : ''}}">
                    <h3>
                      <small>$</small><span ng-bind="(CD.challenge.prize && CD.challenge.prize[4]) || 0"></span>
                    </h3>

                    <h2>5th PLACE</h2>
                  </td>
                  <td ng-if="designOrCode && (CD.challenge.prize && CD.challenge.prize.length > 5)" class="morePayments active closed" rowspan="2">
                  </td>
                  <td ng-if="designOrCode && (CD.challenge.prize && CD.challenge.prize.length <= 5)" class="morePayments inactive" rowspan="2">
                  </td>
                </tr>
                <tr ng-if="CD.challenge.prize  && CD.challenge.prize.length > 5 && (currentPlace = 6)" class="additionalPrizes hide" ng-repeat="i in range(0, (CD.challenge.prize.length - 5) / 5)">
                  <td class="twenty" ng-if="CD.challenge.prize.length > 5 + i * 5" ng-repeat="j in range(i * 5, max((i + 1) * 5), CD.challenge.prize.length)">
                    <h2 ng-bind-template="{{j + 1}}'th PLACE'"></h2>
                    <h3><small>$</small><span ng-bind="CD.challenge.prize[j]"></span></h3>
                  </td>
                </tr>
                <tr><!-- Bugfix: Added noPrize class when challenge has no reliability bonus -->
                  <td ng-if="!CD.isDesign" colspan="5" class="{{ (!CD.challenge.reliabilityBonus || CD.challenge.challengeType === 'Bug Hunt') ? 'noPrize' : ''}}">
                    <p class="realibilityPara">
                      Reliability Bonus
                      <span ng-if="CD.reliabilityBonus && CD.challenge.challengeType !== 'Bug Hunt'" ng-bind-template="${{CD.challenge.reliabilityBonus}}">
                      </span>
                      <span ng-if="!(CD.reliabilityBonus) || CD.challenge.challengeType === 'Bug Hunt'">
                        N/A
                      </span>
                    </p>
                  </td>
                  </td>
                  <td ng-if="CD.isDesign" colspan="5">
                    <p class="scPoints" ng-if="CD.challenge.numberOfCheckpointsPrizes > 0"><span ng-bind="CD.challenge.numberOfCheckpointsPrizes"></span> CHECKPOINT AWARDS WORTH <span ng-bind-template="${{CD.challenge.topCheckPointPrize}}"></span>
                      EACH</p>
                    <p class="scPoints" ng-if="CD.challenge.numberOfCheckpointsPrizes == 0">NO CHECKPOINT AWARDS</p>
                  </td>
                </tr>
              </tbody>
            </table>
          <!-- TODO: not sure why this code is repeated -- probably get rid of it (or make sure my fix of it is correct) -->
          <div class="prizeSlider hide">
            <ul>
              <li class="slide">
                <table>
                  <tbody>
                    <tr>
                      <td ng-if="!CD.isDesign && CD.challenge.challengeType != 'Code'" class="fifty">
                        <h2>1st PLACE</h2>

                        <h3>
                          <small>$</small><span ng-bind="CD.challenge.prize ? (CD.challenge.prize[0] ? CD.challenge.prize[0] : '') : ''"></span>
                        </h3>
                      </td>
                      <td ng-if="!CD.isDesign && CD.challenge.challengeType != 'Code'" class="fifty">
                        <h2>2nd PLACE</h2>
                        <h3>
                          <small>$</small><span ng-bind="CD.challenge.prize ? (CD.challenge.prize[1] ? CD.challenge.prize[1] : '0') : ''"></span>
                        </h3>
                      </td>
                      <td ng-if="(designOrCode = CD.isDesign || CD.challenge.challengeType == 'Code') && (CD.challenge.prize && CD.challenge.prize[0])" class="twenty">
                        <h2>1st PLACE</h2>

                        <h3>
                          <small>$</small><span ng-bind="CD.challenge.prize[0]"></span>
                        </h3>
                      </td>
                      <td ng-if="designOrCode && !(CD.challenge.prize && CD.challenge.prize[0])" class="twenty noPrize">
                        <h2>1st PLACE</h2>

                        <h3>
                          <small>$</small>0
                        </h3>
                      </td>
                      <td ng-if="designOrCode && (CD.challenge.prize && CD.challenge.prize[1])" class="twenty">
                        <h2>2nd PLACE</h2>

                        <h3>
                          <small>$</small><span ng-bind="CD.challenge.prize[1]"></span>
                        </h3>
                      </td>
                      <td ng-if="designOrCode && !(CD.challenge.prize && CD.challenge.prize[1])" class="twenty noPrize">
                        <h2>2nd PLACE</h2>

                        <h3>
                          <small>$</small>0
                        </h3>
                      </td>
                      <td ng-if="designOrCode && (CD.challenge.prize && CD.challenge.prize[2])" class="twenty">
                        <h2>3rd PLACE</h2>

                        <h3>
                          <small>$</small><span ng-bind="CD.challenge.prize[2]"></span>
                        </h3>
                      </td>
                      <td ng-if="designOrCode && !(CD.challenge.prize && CD.challenge.prize[2])" class="twenty noPrize">
                        <h2>3rd PLACE</h2>

                        <h3>
                          <small>$</small>0
                        </h3>
                      </td>
                      <td ng-if="designOrCode && (CD.challenge.prize && CD.challenge.prize[3])" class="twenty">
                        <h2>4th PLACE</h2>

                        <h3>
                          <small>$</small><span ng-bind="CD.challenge.prize[3]"></span>
                        </h3>
                      </td>
                      <td ng-if="designOrCode && !(CD.challenge.prize && CD.challenge.prize[3])" class="twenty noPrize">
                        <h2>4th PLACE</h2>

                        <h3>
                          <small>$</small><span ng-bind="CD.challenge.prize[3]"></span>
                        </h3>
                      </td>
                      <td ng-if="designOrCode && (CD.challenge.prize && CD.challenge.prize[4])" class="twenty">
                        <h2>5th PLACE</h2>

                        <h3>
                          <small>$</small><span ng-bind="CD.challenge.prize[4]"></span>
                        </h3>
                      </td>
                      <td ng-if="designOrCode && (CD.challenge.prize && CD.challenge.prize[5])" class="twenty noPrize">
                        <h2>5th PLACE</h2>

                        <h3>
                          <small>$</small>0
                        </h3>
                      </td>
                      <!-- previously used rowspan logic might be needed: {{2 + ((CD.challenge.prize.length - 5) / 5)}} -->
                      <td ng-if="designOrCode && (CD.challenge.prize && CD.challenge.prize.length > 5)" class="morePayments active closed" rowspan="2">
                      </td>
                      <td ng-if="designOrCode && (CD.challenge.prize && CD.challenge.prize.length <= 5)" class="morePayments inactive" rowspan="2">
                      </td>
                    </tr>
                    <tr ng-if="CD.challenge.prize  && CD.challenge.prize.length > 5 && (currentPlace = 6)" class="additionalPrizes hide" ng-repeat="i in range(0, (CD.challenge.prize.length - 5) / 5)">
                      <td class="twenty" ng-if="CD.challenge.prize.length > 5 + i * 5" ng-repeat="j in range(i * 5, max((i + 1) * 5), CD.challenge.prize.length)">
                        <h2 ng-bind-template="{{j + 1}}'th PLACE'"></h2>
                        <h3><small>$</small><span ng-bind="CD.challenge.prize[j]"></span></h3>
                      </td>
                    </tr>
                    <tr>
                      <td ng-if="!CD.isDesign" colspan="5">
                        <p class="realibilityPara">
                          Reliability Bonus
                          <span ng-if="CD.reliabilityBonus && CD.reliabilityBonus.length > 0">
                            {{CD.challenge.reliabilityBonus}}
                          </span>
                          <span ng-if="!(CD.reliabilityBonus && CD.reliabilityBonus.length > 0)">
                            N/A
                          </span>
                        </p>
                      </td>
                      </td>
                      <td ng-if="CD.isDesign" colspan="5">
                        <p class="scPoints"><span ng-bind="CD.challenge.numberOfCheckpointsPrizes"></span> CHECKPOINT AWARDS WORTH $<span ng-bind="CD.challenge.topCheckPointPrize"></span>
                          EACH</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </li>
            </ul>

          </div>

        </div>
        <div class="rightColumn">

          <div class="nextBox" ng-init="toggleAllNext = true;">

            <div class="nextBoxContent nextDeadlineNextBoxContent"  ng-show="toggleAllNext">
              <div class="icoTime">
                <span class="nextDTitle">Current Phase</span>
                <!-- Bugfix I-106745: if current status of contest is not Active, output current contest status, else output current contest phase if active. -->
                <span
                  class="CEDate" ng-bind="CD.challenge.currentStatus.indexOf('Active') < 0 ? CD.challenge.currentStatus : CD.challenge.currentPhaseName"></span>
              </div>
              <!-- Bugfix I-106745: Added check for cancelled contest before display of current phase remaining time -->
              <span ng-if="CD.challenge.currentStatus != 'Completed' && CD.challenge.currentStatus != 'Deleted' && CD.challenge.currentStatus.indexOf('Cancelled') < 0 && CD.challenge.currentPhaseRemainingTime > 0" class="timeLeft">
                <span ng-bind="CD.challenge.currentPhaseRemainingTime | daysLeft"></span>
                <small><ng-pluralize count="CD.challenge.currentPhaseRemainingTime | daysLeft" when="{'1': 'Day', 'other': 'Days'}"/></small>
                <span ng-bind="CD.challenge.currentPhaseRemainingTime | hoursLeft"></span>
                <small><ng-pluralize count="CD.challenge.currentPhaseRemainingTime | hoursLeft" when="{'1': 'Hour', 'other': 'Hours'}"/></small>
                <span ng-bind="CD.challenge.currentPhaseRemainingTime | minsLeft"></span>
                <small><ng-pluralize count="CD.challenge.currentPhaseRemainingTime | minsLeft" when="{'1': 'Min', 'other': 'Mins'}"/></small>
              </span>
            </div>
            <!--End nextBoxContent-->
            <div ng-if="!CD.isDesign" class="nextBoxContent allDeadlineNextBoxContent ng-hide" ng-show="!toggleAllNext">
              <p><label>Start Date:</label>
                <span>
                 {{CD.challenge.postingDate | formatDate:2}}
                </span>
              </p>
              <p><label>Register By:</label>
               <span>
                 {{CD.challenge.registrationEndDate | formatDate:2}}
               </span>
              </p>
              <p class="{{CD.challenge.finalFixEndDate ? '' : 'last'"><label>Submit By:</label>
                <span>
                  {{CD.challenge.submissionEndDate | formatDate:2}}
                </span>
              </p>
              <p ng-show="CD.inReview && CD.isPeerReviewed">
                <label>Review By:</label>
                <span>
                  {{CD.challenge.currentPhaseEndDate | formatDate:2}}
                </span>
              </p>

              <p ng-if="CD.challenge.finalFixEndDate" class="{{CD.challenge.finalFixEndDate ? 'last' : ''"><label>Final Submission:</label>
                <span>
                  {{CD.challenge.finalFixEndDate | formatDate:2}}
                </span>
              </p>

            </div>
            <!--End nextBoxContent-->
            <div ng-if="CD.isDesign" class="nextBoxContent allDeadlineNextBoxContent studio ng-hide" ng-show="!toggleAllNext">
              <p><label>Start Date:</label>
                <span>
                  {{CD.challenge.postingDate | formatDate:2}}
                </span>
              </p>
              <p ng-if="CD.challenge.checkpointSubmissionEndDate != ''"><label>Checkpoint:</label>
                <span>
                  {{CD.challenge.checkpointSubmissionEndDate | formatDate:2}}
                </span>
              </p>

              <p><label>End Date:</label>
                <span>
                  {{CD.challenge.submissionEndDate | formatDate:2}}
                </span>
              </p>

              <p class="last"><label>Winners Announced:</label>
                <span>
                  {{CD.challenge.appealsEndDate  | formatDate:2}}
                </span>
              </p>
            </div>
            <!--End nextBoxContent-->
          </div>

          <!--End nextBox-->
          <div class="deadlineBox">

            <div class="deadlineBoxContent nextDeadlinedeadlineBoxContent" ng-show="toggleAllNext">
              <a class="viewAllDeadLineBtn" ng-click="toggleAllNext = !toggleAllNext">View all deadlines +</a>
            </div>
            <!--End deadlineBoxContent-->
            <div class="deadlineBoxContent allDeadlinedeadlineBoxContent ng-hide" ng-show="!toggleAllNext">
              <a class="viewNextDeadLineBtn" ng-click="toggleAllNext = !toggleAllNext">View next deadline +</a>
            </div>
            <!--End deadlineBoxContent-->
          </div>
          <!--End deadlineBox-->
        </div>
        </div>
      </div><!-- Step Box end -->
      <div class="rightSplit  grid-3-3">
        <div class="mainStream partialList">

        <section class="tabsWrap">
        <nav class="tabNav">
          <div class="topRightTitle topRightTitleAlt" style="position: relative;">
            <a ng-show="CD.isRegistered" ng-href="{{CD.challenge.forumLink}}" class="contestForumIcon" target="_blank">Challenge Discussion</a>
          </div>
          <ul>
            <li><a href="#contest-overview" class="active link">Details</a></li>
            <li ng-show="!CD.isDesign">
              <a href="#viewRegistrant" class="link">Registrants ({{CD.numRegistrants}}) & Submissions ({{CD.numSubmissions}})</a>
            </li>
            <li ng-show="CD.isDesign">
              <a href="#viewRegistrant" class="link">Registrants ({{CD.numRegistrants}})</a>
            </li>
            <li ng-show="(CD.challenge.checkpoints && CD.challenge.checkpoints.length > 0) || CD.checkpointData"><a href="#checkpoints" class="link">Checkpoints ({{CD.numCheckpointSubmissions}})</a></li>
            <li ng-show="!CD.isDesign"><a href="#winner" class="link">Results</a></li>
            <li ng-show="CD.isDesign && !CD.inSubmission"><a href="#submissions" class="link">Submissions ({{CD.numSubmissions}})</a></li>
            <li ng-show="CD.isDesign && (CD.inSubmission || CD.inScreening || CD.inReview)"><span class="inactive">Results</span></li>
            <li ng-show="CD.isDesign && !(CD.inSubmission || CD.inScreening || CD.inReview)"><a href="#winner" class="link">Results</a></li>
          </ul>
        </nav>
        <nav class="tabNav firstTabNav designFirstTabNav mobile hide">
          <ul>
            <li><a href="#contest-overview" class="active link">Details</a></li>
            <li>
              <a href="#viewRegistrant" class="link">Registrants ({{CD.numRegistrants}})</a>
            </li>
          </ul>
        </nav>
        <nav class="tabNav firstTabNav designSecondTabNav mobile hide">
          <ul>
            <li ng-if="CD.inSubmission"><span class="inactive">Checkpoints ({{CD.numCheckpointSubmissions}})</span></li>
            <li ng-show="CD.inSubmission"><span class="inactive">Submissions</span></li>
            <li ng-show="!CD.inSubmission"><a href="#submissions" class="link">Submissions ({{CD.numSubmissions}})</a></li>
            <li>
              <li ng-show="CD.inSubmission || CD.inScreening || CD.inReview"><span class="inactive">Results</span></li>
              <li ng-show="!(CD.inSubmission || CD.inScreening || CD.inReview)"><a href="#winner" class="link">Results</a></li>
            </li>
          </ul>
        </nav>

        <div ng-if="!CD.isDesign" id="contest-overview" class="tableWrap {{CD.activeTab != 'details' ? 'hide' : ''}} tab">
          <article ng-if="!CD.isDesign" id="contestOverview">
            <h2>Challenge Overview</h2>

            <p ng-bind-html="CD.challenge.detailedRequirements | trust"></p>

            <article id="platforms">
              <h2>Platforms</h2>
              <ul>
                <li ng-if="(hasPlatforms = CD.challenge.platforms && CD.challenge.platforms.length > 0)" ng-repeat="platform in CD.challenge.platforms" >
                  <strong ng-bind="platform"></strong>
                </li>
                <li ng-if="!(hasPlatforms = CD.challenge.platforms && CD.challenge.platforms.length > 0)">
                  <strong>Not Specified</strong>
                </li>
              </ul>
            </article>

            <article id="technologies">
              <h2>Technologies</h2>
              <div class="technologyTags">
                <ul>
                  <li ng-if="CD.challenge.technology && CD.challenge.technology.length > 0" ng-repeat="tech in CD.challenge.technology">
                    <span>{{tech}}</span>
                  </li>
                  <li ng-if="!(CD.challenge.technology && CD.challenge.technology.length > 0)">
                    <strong>Not Specified</strong>
                  </li>

                </ul>
              <div class="clear"></div>
              </div>
            </article>

            <h3>Final Submission Guidelines</h3>
            <div ng-bind-html="CD.challenge.finalSubmissionGuidelines | trust"></div>

            <article id="payments">
              <h2>Payments</h2>

              <p>Topcoder will compensate members in accordance with the payment structure of this challenge.
                Initial payment for the winning member will be distributed in two installments. The first payment
                will be made at the closure of the approval phase. The second payment will be made at the
                completion of the support period.</p>

              <h2>Reliability Rating and Bonus</h2>

              <p>For challenges that have a reliability bonus, the bonus depends on the reliability rating at
                the moment of registration for that project. A participant with no previous projects is
                considered to have no reliability rating, and therefore gets no bonus.
                Reliability bonus does not apply to Digital Run winnings. Since reliability rating is
                based on the past 15 projects, it can only have 15 discrete values.<br>
                <a href="https://help.topcoder.com/hc/en-us/articles/219240797-Development-Reliability-Ratings-and-Bonuses">Read more.</a></p>
            </article>

          </article>

        </div>
        <div ng-if="CD.isDesign" id="contest-overview" class="tableWrap {{CD.activeTab != 'details' ? 'hide' : ''}} tab">
          <article ng-if="CD.isDesign" id="contestOverview">

            <article id="contestSummary">
              <h2>CHALLENGE SUMMARY</h2>

              <p class="paragraph" ng-bind-html="CD.challenge.introduction | trust"></p>

              <p></p>

              <p class="note"><em>Please read the challenge specification carefully and watch the forums for any
                  questions or feedback concerning this challenge. It is important that you monitor any updates
                  provided by the client or Studio Admins in the forums. Please post any questions you might have for
                  the client in the forums.</em>
              </p>
            </article>

            <article id="studioTournamentFormat" ng-if="CD.challenge.numberOfCheckpointsPrizes > 0">
              <h2>CHALLENGE FORMAT</h2>
              <p class="paragraph">This competition will be run as a two-round challenge.</p>
              <div>
                <span class="subTitle">Round One (1)</span>

                <p class="paragraph"></p>

                <p style="margin: 0px 0px 0px 15px; padding: 0px; color: rgb(64, 64, 64);"><span
                    style="line-height: 1.6em;" ng-bind-html="CD.challenge.round1Introduction | trust"></span></p>

                <span class="subTitle">Round Two (2)</span>

                <p class="paragraph"></p>

                <p><span style="color: rgb(64, 64, 64); font-size: 13px;" ng-bind-html="CD.challenge.round2Introduction | trust"></span></p>

                <p></p>


                <h6 class="smallTitle red">Regarding the Rounds:</h6>

                <p></p>

                <ul class="red">
                  <li>To be eligible for Round 1 prizes and design feedback, you must submit before the Checkpoint
                    deadline.
                  </li>
                  <li>A day or two after the Checkpoint deadline, the challenge holder will announce Round 1 winners and
                    provide design feedback to those winners in the "Checkpoints" tab above.
                  </li>
                  <li>You must submit to Round 1 to be eligible to compete in Round 2. If your submission fails
                    screening for a small mistake in Round 1, you may still be eligible to submit to Round 2.
                  </li>
                  <li>Every competitor with a passing Round 1 submission can submit to Round 2, even if they didn't
                    win a Checkpoint prize.
                  </li>
                  <li><a
                      href="https://help.topcoder.com/hc/en-us/articles/219240807-Multi-Round-Checkpoint-Design-Challenges">Learn
                      more here</a>.
                  </li>
                </ul>
              </div>
            </article>

            <article id="fullDescription">
              <h2>FULL DESCRIPTION &amp; PROJECT GUIDE</h2>

              <p ng-bind-html="CD.challenge.detailedRequirements | trust"></p>
            </article>

            <article id="stockPhotography">
              <h2>STOCK PHOTOGRAPHY</h2>

              <p ng-if="CD.challenge.allowStockArt"> Stock photography is allowed in this challenge.<br>
                <a href="http://help.topcoder.com/hc/en-us/articles/217481408-Policy-for-Stock-Artwork-in-Design-Submissions">See this page for more details.</a></p>

              <p ng-if="!CD.challenge.allowStockArt">Stock photography is not allowed in this challenge. All submitted elements must be designed solely by you.<br>
                <a href="http://help.topcoder.com/hc/en-us/articles/217481408-Policy-for-Stock-Artwork-in-Design-Submissions">See
                   this page for more details.</a></p>

            </article>

            <article id="howtosubmit">
              <h2>HOW TO SUBMIT</h2>

              <p>
              <ul class="howToSubmit">
                <li>New to Studio? <a
                    href="http://help.topcoder.com/hc/en-us/articles/217481388-Choosing-a-Design-Challenge"
                    target="_blank">Learn how to compete
                    here</a>.
                </li>
                <li>Upload your submission in three parts (<a
                    href="http://help.topcoder.com/hc/en-us/articles/219122667-Formatting-Your-Submission-for-Design-Challenges"
                    target="_blank">Learn more here</a>). Your design should be finalized and should contain only a single design
                  concept (do not include multiple designs in a single submission).
                </li>
                <li>If your submission wins, your source files must be correct and
                  "<a href="http://help.topcoder.com/hc/en-us/categories/202610437-DESIGN"
                      target="_blank">Final Fixes</a>" (if
                  applicable) must be completed before payment can be released.
                </li>
                <li>You may submit as many times as you'd like during the submission phase, but only the number of files
                  listed above in the Submission Limit that you rank the highest will be considered. You can change
                  the order of your submissions at any time during the submission phase. If you make revisions to your
                  design, please delete submissions you are replacing.
                </li>
              </ul>
              </p>
            </article>

            <article id="winnerselection">
              <h2>WINNER SELECTION</h2>

              <p>
                Submissions are viewable to the client as they are entered into the challenge. Winners are selected by the
                client and are chosen solely at the Client's discretion.
              </p>
            </article>

            <article id="payments">
              <h2>PAYMENTS</h2>

              <p>Topcoder will compensate members in accordance with the payment structure of this challenge.
                Initial payment for the winning member will be distributed in two installments. The first payment
                will be made at the closure of the approval phase. The second payment will be made at the
                completion of the support period.</p>

              <h2>Reliability Rating and Bonus</h2>

              <p>For challenges that have a reliability bonus, the bonus depends on the reliability rating at
                the moment of registration for that project. A participant with no previous projects is
                considered to have no reliability rating, and therefore gets no bonus.
                Reliability bonus does not apply to Digital Run winnings. Since reliability rating is
                based on the past 15 projects, it can only have 15 discrete values.<br>
                <a href="https://help.topcoder.com/hc/en-us/articles/219240797-Development-Reliability-Ratings-and-Bonuses">Read more.</a></p>
            </article>


          </article>
        </div>

        <div id="viewRegistrant" class="tableWrap {{CD.activeTab != 'registrants' ? 'hide' : ''}} tab" style="">


          <article>
            <table class="registrantsTable">
              <thead>
                <tr>
                  <th class="handleColumn">
                    <div>Username</div>
                  </th>
                  <th ng-if="!CD.isDesign" class="ratingColumn">
                    <div>Rating</div>
                  </th>
                  <th ng-if="!CD.isDesign" class="reliabilityColumn">
                    <div>Reliability</div>
                  </th>
                  <th class="regDateColumn">
                    <div>Registration Date</div>
                  </th>
                  <th class="subDateColumn">
                    <div>Submission Date</div>
                  </th>
                  <th class="successIconColumn" ng-show="!CD.isPeerReviewed">
                    <div>Result</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="registrant in CD.challenge.registrants | orderBy:'registrationDate'">
                  <td ng-class="CD.challengeType == 'design' ? 'handleColumnDesign' : 'handleColumn'">
                    <span>
                        <a ng-href="{{'/member-profile/' + registrant.handle}}" ng-bind="registrant.handle"></a>
                    </span>
                  </td>
                  <td ng-if="!CD.isDesign" class="ratingColumn">
                    <span style="{{registrant.colorStyle}}" ng-bind="registrant.rating || 0" ng-bind="registrant.rating || 0"></span>
                  </td>
                  <td ng-if="!CD.isDesign" class="reliabilityColumn">
                    <span ng-bind="registrant.reliability"></span>
                  </td>
                  <td ng-class="CD.challengeType == 'design' ? 'regDateColumnDesign' : 'regDateColumn'" ng-bind="registrant.registrationDate | formatDate:2"></td>
                  <td ng-class="CD.challengeType == 'design' ? 'subDateColumnDesign' : 'subDateColumn'" ng-bind="registrant.submissionDate | formatDate:2"></td>
                  <!--bugfix refactored-challenge-details-68: added missing icons -->
                  <td class="successIconColumn" ng-show="!CD.isPeerReviewed">
                    <i class="{{registrant.winner ? 'successIcon' : registrant.submissionStatus.match('Failed') ? 'failureIcon' : ''}}"
                       title="{{registrant.winner ? 'Pass' : registrant.submissionStatus.match('Failed') ? 'Fail' : ''}}"></i>
                  </td>
                </tr>
              </tbody>
            </table>


          </article>


        </div>
        <div id="winner" class="tableWrap {{CD.activeTab != 'results' ? 'hide' : ''}} tab">
          <div ng-include src="getTemplateURL('ng-page-challenge-result.tpl.html')"></div>
        </div>
        <div id="checkpoints" class="tableWrap {{CD.activeTab == 'checkpoints' ? '' : 'hide'}} tab">


          <article>
            <div ng-include src="getTemplateURL('ng-content-checkpoint.tpl.html')"></div>
          </article>

        </div>
        <div id="submissions" class="tableWrap {{activeTab != 'submissions' ? 'hide' : ''}} tab">


          <article>
            <div ng-include src="getTemplateURL('ng-content-submission.tpl.html')"></div>
          </article>

        </div>
        </section>
        </div>
        <!-- /.mainStream -->

        </div>
        <!-- /.rightSplit -->
      <aside class="sideStream grid-1-3" style="float: left;">

      <div class="topRightTitle">
          <a ng-show="CD.isRegistered" ng-href="{{CD.challenge.forumLink}}" class="contestForumIcon" target="_blank">Challenge Discussion</a>
      </div>

      <div class="columnSideBar">

        <div class="slider">
          <ul>
            <div ng-hide="CD.isDesign" class="slideBox">
              <div ng-include src="getTemplateURL('ng-content-challenge-downloads.tpl.html')"></div>
            </div>
            <li ng-show="CD.challenge.event" class="slide">
                <div class="contestLinks slideBox">
                <h3>Eligible Events:</h3>

                <div class="inner">
                  <p><a ng-href="{{CD.challenge.event.url}}" target='_blank'>{{CD.challenge.event.description}}</a></p>
                </div>
              </div>
            </li>
            <li ng-hide="CD.isDesign" class="slide">

              <div class="reviewStyle slideBox">
                <h3>Review Style:</h3>

                <div class="inner">
                  <p><strong>Final Review: </strong><span>{{CD.reviewStyle}}</span>
                    <a onmouseout="hideTooltip('FinalReview');" onmouseover="showTooltip(this, 'FinalReview');" class="tooltip"
                       href="javascript:;"> </a></p>

                  <p><strong>Approval: </strong><span>User Sign-Off</span>
                    <a onmouseout="hideTooltip('Approval');" onmouseover="showTooltip(this, 'Approval');" class="tooltip"
                       href="javascript:;"> </a>
                  </p>
                </div>

              </div>
              <!-- End review style section -->

            </li>
            <li ng-show="CD.challenge.screeningScorecardId || (!CD.isDesign && CD.challenge.reviewScorecardId)" class="slide">

              <div class="contestLinks slideBox">
                <h3>Challenge Links:</h3>

                <div class="inner">
                  <p ng-show="CD.challenge.screeningScorecardId"><a
                      href="https://software.topcoder.com/review/actions/ViewScorecard.do?method=viewScorecard&scid={{CD.challenge.screeningScorecardId}}">Screening
                      Scorecard</a></p>

                  <p ng-show="!CD.isDesign && CD.challenge.reviewScorecardId"><a
                      href="{{CD.reviewScorecardLink}}" target="_blank">Review
                      Scorecard</a></p>
                </div>

              </div>

            </li>
            <li ng-if="!CD.isDesign && CD.termsList.length > 0" class="slide">
              <div class="slideBox inner">
                <h3>Challenge Terms:</h3>
                <ul>
                  <li ng-repeat="terms in CD.termsList">
                    <a href="/challenge-details/terms/detail/{{terms.termsOfUseId}}/">
                      {{terms.title}}
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <li ng-hide="CD.isDesign || CD.isPeerReviewed" class="slide">

              <div class="umltoolLinks slideBox">
                <h3>Get the UML Tool:</h3>

                <div class="inner">
                  <p><a href="https://github.com/topcoderinc/topcoder-UML-Tool">Github source code repository</a></p>
                  <p><a href="https://github.com/topcoderinc/topcoder-UML-Tool/blob/master/build/dist/TopCoder%20UML%20Tool%20OS%20X%201.2.7.zip?raw=true">Mac disk image </a></p>
                  <p><a href="https://github.com/topcoderinc/topcoder-UML-Tool/blob/master/build/dist/TopCoder_UML_Tool_Installer-1.2.7.jar?raw=true">Java installer</a></p>
                </div>

              </div>
              <!-- End review style section -->

            </li>

            <li ng-if="CD.isDesign" class="slide">
              <div class="forumFeed slideBox">&nbsp;<br/>
              </div>
            </li>
            <li ng-if="CD.isDesign" class="slide">
              <div ng-include src="getTemplateURL('ng-content-challenge-downloads.tpl.html')"></div>
            </li>
            <li ng-if="CD.isDesign" class="slide">
              <div class="slideBox">
                <h3>How to Format Your Submission:</h3>

                <div class="inner">
                  <ul>
                    <b>Your Design Files:</b><br>
                    <li>1. Look for instructions in this challenge regarding what files to provide.
                    </li>
                    <li>2. Place your submission files into a "Submission.zip" file.</li>
                    <li>3. Place all of your source files into a "Source.zip" file.</li>
                    <li>4. Create a JPG preview file.</li>
                  </ul>

                  <p>Trouble formatting your submission or want to learn more?
                    <a href="http://help.topcoder.com/hc/en-us/articles/219122667-Formatting-Your-Submission-for-Design-Challenges">Read the FAQ</a>.</p>

                  <!-- Bugfix I-111397: removed empty link tags surrounding text -->
                  <p><strong>Fonts:</strong> All fonts within your design must be declared when you submit. DO NOT include any font files in your submission or source files.
                  <a href="http://help.topcoder.com/hc/en-us/articles/217959447-Font-Policy-for-Design-Challenges" style="white-space:nowrap;">Read about the font policy here</a>.
                  </p>

                  <p><strong>Screening:</strong> All submissions are screened for eligibility before the challenge holder picks
                    winners. Don't let your hard work go to waste.<br> <a
                      href="http://help.topcoder.com/hc/en-us/articles/217959577-How-to-Pass-Screening-in-Design-Challenges">Learn more about how to pass screening
                      here</a>.
                  </p>

                  <p>Questions? <a ng-href="//apps.topcoder.com/forums/?module=ThreadList&forumID={{CD.challenge.forumId}}">Ask in the Challenge Discussion Forums</a>.
                  </p>

                </div>
              </div>
            </li>
            <li ng-if="CD.isDesign && CD.termsList.length > 0" class="slide">
              <div class="slideBox inner">
                <h3>Challenge Terms:</h3>
                <ul>
                  <li ng-repeat="terms in CD.termsList">
                    <a href="/challenge-details/terms/detail/{{terms.termsOfUseId}}/">
                      {{terms.title}}
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li ng-if="CD.isDesign" class="slide">
              <div class="slideBox">
                <h3>Source Files:</h3>

                <div class="inner">
                  <ul>
                    <li ng-if="!hasFiletypes"><strong>Text or Word Document containing all of your ideas and supporting information.</strong></li>
                    <li ng-if="hasFiletypes" ng-repeat="filetype in CD.challenge.filetypes">
                      <strong ng-bind="filetype"></strong>
                    </li>
                  </ul>

                  <p>You must include all source files with your submission. </p>
                </div>
              </div>
            </li>
            <li ng-if="CD.isDesign" class="slide">
              <div class="slideBox">
                <h3>Submission Limit:</h3>

                <div class="inner">
                  <!-- Bugfix I-107615: Added check if SubmissionLimit is empty, if so, display "Unlimited" instead of empty value -->
                  <p><strong ng-bind="CD.challenge.submissionLimit.length > 0 ? CD.challenge.submissionLimit : 'Unlimited'"></strong></p>
                </div>
              </div>
            </li>
            <li class="slide">
              <div class="slideBox">
                <h3>Share:</h3>

                <div class="inner">
                  <!-- AddThis Button BEGIN -->
                  <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                    <a class="addthis_button_preferred_1"></a>
                    <a class="addthis_button_preferred_2"></a>
                    <a class="addthis_button_preferred_3"></a>
                    <a class="addthis_button_preferred_4"></a>
                    <a class="addthis_button_compact"></a>
                    <a class="addthis_counter addthis_bubble_style"></a>
                  </div>
                  <script type="text/javascript">var addthis_config = {"data_track_addressbar": false};
                    var addthis_share = { url: location.href, title: 'Topcoder Challenge' }</script>
                  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52f22306211cecfc"></script>
                  <!-- AddThis Button END -->
                </div>
              </div>
            </li>
          </ul>
        </div>

      </div>

      </aside>
      <!-- /.sideStream -->
      <div class="clear"></div>
    </div>
    <!-- /.container -->
  </article>
  <!-- /#mainContent -->


  <div onmouseout="hideTooltip('FinalReview')" onmouseover="enterTooltip('FinalReview')"
       class="tip reviewStyleTip tipFinalReview" style="display: none;">
    <div class="inner">
      <div class="tipHeader">
        <h2>Final Review</h2>
      </div>
      <div class="tipBody">
      <!--Bugfix refactored-challenge-details-117: Removed unused hyperlink-->
      {{CD.reviewStyleTooltip}}
      </div>
      <div class="corner tl"></div>
      <div class="corner tr"></div>
      <div class="corner bl"></div>
      <div class="corner br"></div>
    </div>
    <div class="shadow"></div>
  </div>

  <div onmouseout="hideTooltip('Approval')" onmouseover="enterTooltip('Approval')" class="tip reviewStyleTip tipApproval"
       style="display: none;">
    <div class="inner">
      <div class="tipHeader">
        <h2>Approval</h2>
      </div>
      <div class="tipBody">
        Customer has final opportunity to sign-off on the delivered assets.
      </div>
      <div class="corner tl"></div>
      <div class="corner tr"></div>
      <div class="corner bl"></div>
      <div class="corner br"></div>
    </div>
    <div class="shadow"></div>
  </div>
</div>

@@footer
